<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
            setTimeout(function () {
                $('#disappear').fadeOut('fast');
            }, 4800)
    })
    </script>
  </head>
  <body>
    {% if messages %} 
    {% for message in messages %}
    <div id="disappear">
      <div id="login-container" class="container">
        <div class="alert alert-info text-center w-100 mt-4 mb-n4 text-dark" style="font-size: .9rem;">
          
            <strong>
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} Error:
              &nbsp;{% else %} {{ message.tags|title }} {% endif %}
            </strong>
            {{ message }}
          
        </div>
      </div>
    </div>
    {% endfor %} 
    {% endif %}

  </body>
</html>
