{% load static %}
  
<!--======================= Footer ========================-->
<footer class="mt-5" id="main-footer" style="height: 80vh; background: #1b1919; color: white; padding: 112px 0;">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-12 text-center">
        <div style="line-height:2rem;">
          <h2 style="font-family: Cormorant Garamond; margin-bottom: 40px; font-size:22px;">Have Questions? Contact us:</h2>
          <span class="text-lightgray">
            <i class="fa fa-map-marker"></i>
            <span class="text">&nbsp;Dhulikhel, Kavre, Nepal</span><br>
            <i class="fa fa-phone"></i>
            <span class="text">&nbsp;+977-9865727861</span><br>
            <i class="fa fa-envelope"></i>
            <span class="text">&nbsp;travellum@gmail.com</span>
          </span>
        </div>
      </div>
      
    </div>
    
    <div class="row">

      <div class="col-md-12 text-center">
        <img src="{% static 'images/expo_creations.png' %}" style="margin-top: 5%;">
        <p style="margin-top: 2%;" class="text-lightgray">
          Travellum &copy; 2020 All Rights Reserved </p>
      </div>
      
    </div>
  </div>
</footer>
<!-- End of Footer -->