{% load static %}

<!--================= Navbar ===============================-->
<header>
<nav class="navbar bg-transparent px-0 my-navbar">
  <div class="container">
    <div class="row w-100 pl-3">

      <div class="col-lg-2 col-md-3 col-3 text-center">
        <a class="navbar-brand text-light" href="{%url 'index'%}">Travellum</a>
        <div class="text-center" style="padding-top: 8px;">
          <a class="navbar-brand text-light navbar-brand-sm " href="{%url 'index'%}" style="font-size: 1.5rem;">T</a>
        </div>
        <!-- a -->
      </div>

      <div class="col-lg-7 col-md-5 col-3" id="search-bar-on-nav">
        <div class="navbar-nav mt-n1">
          <form action="" class="">
            <a href="#" id="search">
              <i style="font-size: 1.1rem; padding-top: 5px;" class="fa fa-search text-light"></i>
            </a>
            <input type="text" class="bg-transparent border-0" id="searchDesInput" placeholder="Search Locations...">
          </form>
        </div>
        <!-- a -->
      </div>
      
      <div class="col-lg-1 col-md-2 collapse-on-phones">
        <div class="navbar-nav">              
          <span class="nav-item text-center">
            <a href="{% url 'places' %}" class="nav-link text-light"> Places</a>
          </span>
        </div>
        <!-- a -->
      </div>

      <!-- <div class="col-lg-1 col-md-1 col-3 text-center">
        <div class="navbar-nav">
          <span class="nav-item text-center">
            <a href="" class="nav-link"><img class="hw-bell" src="{% static 'svg/bell.svg' %}" alt=""></a>
          </span>
        </div>
      </div> -->

      <div class="col-lg-1 col-md-1 col-3 text-center">
        <div class="navbar-nav">
          <div class="nav-item text-center top-head-dropdown">
            {% if  user.is_authenticated%}
            <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <img class="hw-bell" src="{% static 'svg/bell.svg' %}" alt="">
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              {% if notifications %}
                {% for notification in notifications %}
                  <li>
                    <a href="#" class="top-text-block">
                      <div class="top-text-heading">{{ notification.sender_name }} has made a request for guide.</div>
                      <div class="top-text-light">15 minutes ago</div>
                    </a> 
                  </li>
                {% endfor %}
              {% endif %}
              <!-- <li>
                <a href="#" class="top-text-block">
                  <div class="top-text-heading">How was your <b>trip</b> with Buddha? Rate Buddha</div>
                  <div class="top-text-light">15 minutes ago</div>
                </a> 
              </li> -->
            </ul>
            {% else %}
              <a type="button" class="nav-link dropdown-toggle" href='/accounts/login/'>
                <img class="hw-bell" src="{% static 'svg/bell.svg' %}" alt="">
              </a>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="navbar-collapse col-lg-1 col-md-1 col-3 collapse-on-phones">
        <div class="navbar-nav">
          <span class="nav-item text-center dropdown" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
            <a href="" class="nav-link text-light">
              {% if  user.is_authenticated%}
                {% if traveller_user %}
                  {% for traveller in traveller_user %}
                    {% if traveller.photo_main %}
                        <img class="hw-dp" src="{{ traveller_dp.url }}" alt="">
                    {% else %}
                        <img class="hw-dp" src="{% static 'images/default.png' %}" alt="">
                    {% endif %}
                  {% endfor %}                
                {% endif %}
              {% endif %}
              <!-- ================User with no dp while viewing other's profile============= -->
              {% if  user.is_authenticated%}
                {% if logged_in_user %}
                  {% for traveller in logged_in_user %}
                    {% if traveller.photo_main %}
                        <img class="hw-dp" src="{{ traveller_dp.url }}" alt="">
                    {% else %}
                        <img class="hw-dp" src="{% static 'images/default.png' %}" alt="">
                    {% endif %}
                  {% endfor %}                
                {% endif %}
              {% endif %}
            </a>
          </span>

          {% if  user.is_authenticated %}
          <div class="dropdown-menu" style="position: absolute; min-width: 80px; background: rgba(255,255,255,0.9);" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Visibility</a>
            <a class="dropdown-item" href="{% url 'my_blog' %}">My Blog</a>
            <a class="dropdown-item" href="/accounts/logout">Log Out</a>
          </div>
          {% endif %}
        </div>
        <!-- a -->
      </div>


      <div class="dropdown col-md-1 col-3 mt-3 show-on-phones-and-hide-on-others text-center">
        <div role="button" class="pl-3 dropdown-toggle text-center" data-toggle="dropdown">
          <i class="fas fa-bars" style="color: white; font-size: 1.4rem;"></i>
        </div>
        <span class="dropdown-menu" style="min-width: 100px !important;">
          <a href="{% url 'places' %}" class="text-dark pl-3">Places</a>
          <div class="m-2"></div>
          <a href="#" class="text-dark pl-3">Visibility</a>
          <div class="m-2"></div>
          <a href="{% url 'my_blog' %}" class="text-dark pl-3">My Blog</a>
          <div class="m-2"></div>
          <a href="/accounts/logout" class="text-dark pl-3">Logout</a>
        </span>
      </div>
      
    </div>
    <!-- a -->
  </div>
</nav>
</header>
<!--================ End of Navbar =======================-->
