{% extends 'base.html' %} 

{% load static %}

{% block title %} 
Reset Password
{% endblock %}

{% block content %}

<div 
  id="login-container" 
  class="container text-muted my-5 px-3 py-5" 
  style="min-height: 50vh; background: rgba(255, 255, 255, 0.91)"
>
  <form action="{% url 'v_code' %}" class="d-flex align-items-center justify-content-center">
    <div>
      <p class="mt-5 mb-0" style="font-size: .96rem;">If you don't have an account <a href="{% url 'register' %}">click here</a></p>
      <label for="vEmail" style="font-size: .96rem;">Type your email in the field below to receive your validation code.</label>
      <div class="col-md-12 p-0">
        <input id="vEmail" type="email" class="form-control mb-3" name="vEmail" required />
      </div>
      <input type="submit" class="btn btn-sm btn-outline-dark px-3" value="Submit" />
    </div>
  </form>
</div>
{% endblock %}
