{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Travellum | Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<!-- fonts -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
		integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
		crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">


	<link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/aos.css' %}">
	<link rel="stylesheet" href="{% static 'css/custom_style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg custom-navbar-light" id="custom-navbar">
			<div class="container">
				<a class="navbar-brand" href="#">Travellum</a>
				</a>
				<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarHome">
					<div style="color: white; font-size: 1.1rem;"><i class="fas fa-bars"></i></div>

				</button>

				
				<div class="collapse navbar-collapse" id="navbarHome">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item mr-2"><a href="#home-section" class="nav-link"><span>Home</span></a></li>
						<li class="nav-item mr-2"><a href="#destination-section"
								class="nav-link"><span>Destinations</span></a>
						</li>

						<li class="nav-item mr-2"><a href="#top-guides" class="nav-link"><span>Top Guides</span></a>
						</li>
						<li class="nav-item ml-n4 mr-n2" id="hide-pipe"><a href="#" class="nav-link"><span>|</span></a>
						</li>
						<li class="nav-item mr-2"><a href="{% url 'about' %}" class="nav-link"><span>About Us</span></a>
						<li class="nav-item mr-2"><a href="{% url 'explore' %}" class="nav-link"><span>Blog</span></a>
						</li>

						{% if  user.is_authenticated%}
						<li class="nav-item mr-2"><a href="{% url 'dashboard' %}"
								class="nav-link"><span>Dash</span></a>
						</li>
						{% else %}
						<li class="nav-item mr-2"><a href="{% url 'login' %}" class="nav-link"><span>Log In</span></a>
						</li>
						{% endif %}

						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<!-- First view section -->
	<section id="home-section">
		<div class="col-rt-12">

			<div class="image-wrapper" style="display: flex; align-items:center;
			justify-content:center;">
				<img src="{% static 'images/bgDarken.jpg' %}" class="image" alt="background-image">

				<div class="container mb-lg-n5 flex-column" style="display: flex;
					align-items: center; position:absolute;" data-aos="zoom-in" data-aos-duration="1300">
					<h2 class="d-none d-md-block mb-4 text-light display-5 mb-5 pb-5" style="font-family: Poppins;">Your Travel Companion for Nepal</h2>
					<h5 class="d-block d-md-none mb-4 text-light  mb-5 pb-5" style="font-family: Poppins;">Your Travel Companion for Nepal</h5>
					<form action="{% url 'search' %}" class="form-inline ">
						<div class="input-group span position-relative" style="bottom: 70px;">
							<input id="id-for-placeholder" class="form-control form-control-lg mr-1 w-200"
								style=" border:3px solid coral; border-radius:50px;" type="text"
								placeholder="Search Destinations here . . ." aria-label="SearchPlaces"
								name="search_places" id="search_places">
							<div>
								<button type="submit" value="search" class="form-control btn btn-primary"
									style="width:40px; height:40px !important;  margin-top: 45%; border-radius: 50%; "><i
										class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>

				<!-- <div class="container"
					style="display: flex; justify-content: center;  position:absolute; margin-top:23%;"
					data-aos="zoom-in" data-aos-duration="1300">
					{% if  user.is_authenticated%}
					{% else %}
					<a href=" {% url 'register' %}" id="btn2" class="ml-n5 mt-md-n5">Sign Up</a>
					{% endif %}
				</div> -->
			</div>
		</div>
	</section>

	<!-- How it works section -->
	<div class="container my-5">
		<section>
			<div class="text-center mb-5">
				<h2 class="display-5" style="font-family: 'Poppins', Arial, sans-serif; font-size: 2rem;"  data-aos="fade-up" data-aos-duration="800">
					How It <span style="color: #e66b58">Works?</span>
				</h2>
			</div>

			<div class="row" style="font-family: 'Poppins', Arial, sans-serif" data-aos="fade-up" data-aos-duration="800">
				<div
					class="col-md-5 position-relative d-flex justify-content-end"
					style="top: -20px"
				>
					<img
						class="d-none d-md-block"
						style="height: 270px"
						src="{% static 'svg/first-step.svg' %}"
						alt=""
					/>
				</div>
				<div class="col-12 col-md-2">
					<div class="">
						<div class="px-3 mt-5" style="background: rgb(247, 247, 247)">
							<div
								class="font-weight-bold circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto position-relative border border-white"
								style="
									width: 60px;
									height: 60px;
									top: -30px;
									border-width: 4px !important;
									background-color: #9b5de5;
								"
							>
								1
							</div>
							<div
								class="position-relative text-center display-5"
								style="top: -20px; font-size: 2rem"
							>
								Step
							</div>
						</div>
						<div
							class="position-relative text-center font-weight-bold"
							style="top: -15px; font-size: 1.5rem;"
						>
							<p class="m-0 position-relative" style="color: #8f46e9">.</p>
							<p
								class="m-0 position-relative"
								style="top: -25px; color:#8f46e9"
							>
								.
							</p>
							<p class="m-0 position-relative" style="top: -50px; color: #9b5de5">.</p>
							<p class="m-0 position-relative" style="top: -75px;  color: #9b5de5">.</p>
							<p
								class="m-0 position-relative"
								style="top: -100px; color: #c39eef"
							>
								.
							</p>
							<p
								class="m-0 position-relative"
								style="top: -125px; color: #c39eef"
							>
								.
							</p>
						</div>
					</div>
				</div>
				<div
					class="col-md-5 position-relative d-flex justify-content-start flex-column pr-md-5"
					style="top: 45px"
				>
					<h5 class="d-none d-md-block display-5 text-left" style="font-size: 1.3rem; font-family: 'Poppins', Arial, sans-serif">
						Make an Inquiry
					</h5>
					<h5
						id="first-step"
						class="display-5 text-muted text-left position-relative mr-lg-5 pr-lg-5"
						style="font-size: 1.1rem; font-weight: 500; font-family: 'Poppins', Arial, sans-serif"
					>
						<!-- top: -180px -->
						Search for your destination & make inquiries with our recommended
						guides
					</h5>
				</div>
			</div>

			<div class="row" data-aos="fade-up" data-aos-duration="800">
				<div
					class="order-2 order-md-1 col-md-5 position-relative d-flex align-items-md-end flex-column pl-md-5"
					style="top: -110px"
				>
					<h5 class="d-none d-md-block display-5" style="font-size: 1.3rem; font-family: 'Poppins', Arial, sans-serif">
						Confirm trip
					</h5>
					<h5
						id="second-step"
						class="display-5 position-relative text-muted text-md-right mb-4 ml-lg-5 pl-lg-5"
						style="font-size: 1.1rem; font-weight: 500; font-family: 'Poppins', Arial, sans-serif"
					>
						Confirm the trip with a guide of your choice
					</h5>
				</div>
				<div
					class="order-1 order-md-2 col-12 col-md-2 mx-auto position-relative"
					style="top: -165px"
				>
					<div class="">
						<div class="px-3 mt-5" style="background: rgb(247, 247, 247)">
							<div
								class="font-weight-bold circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto position-relative border border-white"
								style="
									width: 60px;
									height: 60px;
									top: -30px;
									border-width: 4px !important;
									background-color: #9b5de5;
								"
							>
								2
							</div>
							<div
								class="position-relative text-center display-5"
								style="top: -20px; font-size: 2rem"
							>
								Step
							</div>
						</div>
						<div
							class="position-relative text-center font-weight-bold"
							style="top: -15px; font-size: 1.5rem"
						>
							<p class="m-0 position-relative" style="color:#8f46e9">.</p>
							<p class="m-0 position-relative" style="top: -25px; color:#8f46e9">.</p>
							<p class="m-0 position-relative" style="top: -50px; color: #9b5de5">.</p>
							<p class="m-0 position-relative" style="top: -75px; color: #9b5de5">.</p>
							<p class="m-0 position-relative" style="top: -100px; color: #c39eef">.</p>
							<p class="m-0 position-relative" style="top: -125px; color: #c39eef">.</p>
						</div>
					</div>
				</div>
				<div
					class="order-md-3 col-md-5 position-relative d-flex justify-content-start"
					style="top: -165px"
				>
					<img
						class="d-none d-md-block"
						style="height: 220px"
						src="{% static 'svg/second-step.svg' %}"
						alt=""
					/>
				</div>
			</div>

			<div
				class="row position-relative"
				style="top: -165px; margin-bottom: -100px !important"
				data-aos="fade-up" data-aos-duration="800"
			>
				<div
					class="col-md-5 position-relative d-flex justify-content-end"
					style="top: -165px; margin-bottom: -380px !important"
				>
					<img
						class="d-none d-md-block"
						style="height: 220px"
						src='{% static "svg/third-step.svg" %}'
						alt=""
					/>
				</div>
				<div
					class="col-12 col-md-2 mx-auto position-relative"
					style="top: -165px; margin-bottom: -380px !important"
				>
					<div class="">
						<div class="px-3 mt-5" style="background: rgb(247, 247, 247)">
							<div
								class="font-weight-bold circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto position-relative border border-white"
								style="
									width: 60px;
									height: 60px;
									top: -30px;
									border-width: 4px !important;
									background-color: #9b5de5;
								"
							>
								3
							</div>
							<div
								class="position-relative text-center display-5"
								style="top: -20px; font-size: 2rem"
							>
								Step
							</div>
						</div>
						<div
							class="position-relative text-center font-weight-bold"
							style="top: -15px; font-size: 1.5rem"
						>
							<p class="m-0 position-relative" style="color:#9b5de5">.</p>
							<p class="m-0 position-relative" style="top: -25px; color:#9b5de5">.</p>
							<p class="m-0 position-relative" style="top: -50px; color: #c39eef">.</p>
							<p class="m-0 position-relative" style="top: -75px; color: #c39eef">.</p>
						</div>
					</div>
				</div>
				<div
					class="col-md-5 position-relative d-flex justify-content-start flex-column pr-lg-5"
					style="top: -100px"
				>
					<h5 class="d-none d-md-block display-5 text-left" style="font-size: 1.3rem; font-family: 'Poppins', Arial, sans-serif">
						Have Fun
					</h5>
					<h5
						id="third-step"
						class="display-5 text-muted position-relative mr-lg-5 pr-lg-5 text-left"
						style="font-size: 1.1rem; font-weight: 500; font-family: 'Poppins', Arial, sans-serif"
					>
						Witness local places from the perspective of our guides
					</h5>
				</div>
			</div>
		</section>
	</div>
	<!-- Best Places section -->
	<section class="section" id="destination-section">
		<div class="container">
			<div class="row justify-content-center pb-5" data-aos="fade-up" data-aos-duration="800">
				<div class="col-md-12 heading-section text-center ">
					<span class="subheading">Explore local places</span>
					<h2 class="mb-4">Best Places to Travel in the Country.</h2>
					<p>“You don’t have to be rich to travel well.”</p>
				</div>
			</div>
			<div class="row" style="display: flex; justify-content: center;">
				{% if places %}
				{% for place in places %}
				<div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="800">
					<div class="">
						<div class="project">
							<a href="{% url 'placedetails' place.id %}">
								<img 
									src="{{ place.photo_1.url }}"
									class="img-fluid" 
									id="places-image"
									alt="Image" 
									style="height:320px; width: 320px;"
								>
							</a>
						</div>
							<h3 style="margin-top: -8%;">
								<a class="text-dark" href="{% url 'placedetails' place.id %}">{{ place.name }}</a>
					</div>
				</div>
				{% endfor %}
				{% endif %}
				<div class="container" style="display: flex;
				justify-content: center; margin-bottom:10%; " data-aos="fade-up" data-aos-duration="800">
					<a href=" {% url 'places' %}" class="btn btn-primary mt-5 p-3"
						style="background-color:#e66b58; font-size:1.2rem; ">View all
						Places
						&#8594; </a>
				</div>
			</div>
		</div>

	</section>
	<!-- Search Guides section -->
	<section class="section no-pb no-pt" data-aos="fade-up" data-aos-duration="800">
		<div class="container">
			<div class="row justify-content-center pb-0 pb-mb-5 pt-5 pt-md-0">
				<div class="col-md-12 heading-section ">
					<h2 class="mb-4" style="text-align: center;">Are you in need of a guide?</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="search-wrap-1  p-4">
						<form action="{% url 'search' %}" class="search-property-1">
							<div class="row">
								<div class="col-lg align-items-end">
									<div class="form-group">
										<label for="#">Check out the available guides:</label>
										<div class="form-field">
											<div class="icon"><span class="ion-ios-search"></span></div>
											<!-- <input type="text" class="form-control"
												placeholder="Enter your destination" name="search" id="search"> -->
											<select name="search_places" class="form-control">
												<option selected="false" disabled="disabled">Enter your destination
												</option>
												{% if places %}
												{% for place in places %}
												<option value="{{ place.name }}">{{ place.name }}</option>
												{% endfor %}
												{% endif %}
											</select>
										</div>
									</div>
								</div>
								<div class="col-lg align-self-end">
									<div class="form-group">
										<div class="form-field">
											<input type="submit" value="Search" class="form-control btn btn-primary">
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Top Guides Section -->
	<section class="section" id="top-guides" style="margin-top:4%;">
		<div class="container">
			<div class="row justify-content-center pb-5" data-aos="fade-up" data-aos-duration="800">
				<div class="col-md-12 heading-section text-center ">
					<span class="subheading">Populars</span>
					<h2 class="mb-4">Our highly rated guides:</h2>
				</div>
			</div>

			<div class="row" style="display: flex;
			justify-content: center;">
				{% if guides %}
				{% for guide in guides %}
				<div id="guide-card" class="col-md-4 col-lg-3" data-aos="fade-up" data-aos-duration="1000" style="background-color: rgb(248, 248, 248);
								padding: 15px;
								margin:10px;
								border-radius:3%;
								">

					<div class="img" style="display:flex;
						justify-content:center;">
						<a href="{% url 'view_profile' guide.get_traveller_id %}"><img
								{% if guide.get_pic %}src="{{ guide.get_pic.url }}" {% else %}
								src="{% static 'images/default.png' %}" {% endif %} class="img-fluid"
								style="width: 200px; height: 200px; border-radius: 50%; " alt="Image"></a>
					</div>
					<div class="text">
						<h3><a href="{% url 'view_profile' guide.get_traveller_id %}"
								style="color: rgb(233, 122, 81);">{{ guide.email.first_name }}
								{{ guide.email.last_name }}</a></h3>
						<div class="star d-flex clearfix">Rating: &nbsp; {{ guide.average_rating}} &nbsp;
						</div>
					</div>
					<p style="margin-bottom: 30%;"><strong>Address:</strong> {{ guide.get_address}}</p>

				</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</section>

	<footer class="footer section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="footer-widget mb-12" style="line-height:2rem;">
						<h2 class="heading-2">Have Questions? Contact us:</h2>

						<span class="icon icon-map-marker"></span><span class="text"> &nbsp;Dhulikhel, Kavre,
							Nepal</span><br>
						<span class="icon icon-phone"></span><span class="text">&nbsp;+977-9865727861</span><br>

						<span class="icon icon-envelope"></span><span class="text">&nbsp;travellum@gmail.com</span>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<img src="{% static 'images/expo_creations.png' %}" style="margin-top: 5%;">
					<p style="margin-top: 2%;">
						Travellum &copy; 2020 All Rights Reserved </p>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function () {
			$(window).scroll(function () {
				if ($(window).scrollTop() > 50) {
					$('#custom-navbar').addClass('navbar-scroll');
				} else {
					$('#custom-navbar').removeClass('navbar-scroll');
				}
			});
		});

		$('body').scrollspy({ target: '#custom-navbar' }); //Navbar active focus
		$('#custom-navbar a').on('click', function (e) {
			//check for hash value
			if (this.hash !== '') {
				e.preventDefault();
				const hash = this.hash;

				//animate smooth scroll
				$('html, body').animate({
					scrollTop: $(hash).offset().top
				}, 900, function () {
					//add hash to url after scroll
					window.location.hash = hash;
				});
			}
		});

		//collapse navbar on clicked in mobile view
		$('.navbar-nav>li>a').on('click', function () {
			$('.navbar-collapse').collapse('hide');
		});
	</script>
	<script src="{% static 'js/aos.js' %}">
	</script>
	<script>
		AOS.init();
	</script>
</body>
<!-- scripts for jquery autocomplete -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	$(function () {
		$("#search_places").autocomplete({		//function for autocomplete that takes id of field
			source: "{% url 'search' %}",
			minLength: 2
		});
	});
</script>

</html>