{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Travellum | Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">


	<link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/aos.css' %}">
	<link rel="stylesheet" href="{% static 'css/custom_style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg custom-navbar-light" id="custom-navbar">
			<div class="container">
				<a class="navbar-brand" href="#">Travellum</a>
				</a>
				<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarHome">
					<div style="color: white;">Menu</div>

				</button>

				<div class="collapse navbar-collapse" id="navbarHome">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item mr-2"><a href="#home-section" class="nav-link"><span>Home</span></a></li>
						<li class="nav-item mr-2"><a href="#about-section" class="nav-link"><span>About</span></a></li>
						<li class="nav-item mr-2"><a href="#destination-section"
								class="nav-link"><span>Destinations</span></a>
						</li>

						<li class="nav-item mr-2"><a href="#top-guides" class="nav-link"><span>Our Top Guides</span></a>
						</li>

						{% if  user.is_authenticated%}
						<li class="nav-item mr-2"><a href="{% url 'dashboard' %}"
								class="nav-link"><span>Dashboard</span></a>
						</li>
						<li class="nav-item mr-2"><a href="{% url 'logout' %}" class="nav-link"><span>Log out</span></a>
						</li>
						{% else %}
						<li class="nav-item mr-2"><a href="{% url 'login' %}" class="nav-link"><span>Log In</span></a>
						</li>
						{% endif %}

						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<!-- First view section -->
	<section id="home-section">
		<div class="col-rt-12">

			<div class="image-wrapper" style="display: flex; align-items:center;
			justify-content:center;">
				<img src="{% static 'images/bgDarken.jpg' %}" class="image" alt="background-image">

				<div class="container" style="display: flex;
					justify-content: center; position:absolute;" data-aos="zoom-in" data-aos-duration="1300">
					<form action = "{% url 'search' %}" class="form-inline ">

						<input class="form-control form-control-lg mr-3 w-200" style="margin: 0 auto;" type="text"
							placeholder="Search Destinations here" aria-label="SearchPlaces" name="search_places"
							id="search_places">
						<input type="submit" value="search" class="form-control btn btn-primary"><i class="fa fa-search fa-lg mt-2 ml-2"></i>
					</form>
				</div>

				<div class="container"
					style="display: flex; justify-content: center;  position:absolute; margin-top:23%;"
					data-aos="zoom-in" data-aos-duration="1300">
					{% if  user.is_authenticated%}
					{% else %}
					<a href=" {% url 'register' %}" class="btn btn-primary"
						style="background-color:#e66b58; font-size:1.5rem; ">Join now </a>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
	<!-- About us section -->
	<section class="section" id="about-section">
		<div class="container" data-aos="fade-up" data-aos-duration="1300">

			<div class="col-md-12 col-lg-12 bg-lighten">
				<div class="py-md-12">
					<div class="row justify-content-start pb-3">
						<div class="col-md-12 heading-section text-center  p-5 p-lg-0">
							<span class="subheading">about travellum</span>
							<h2 class="mb-4">How it works?</h2>
							<p><strong>Travellum </strong>provides a platform to connect travelers. It helps you
								find
								the perfect person
								to travel with. Maybe you want a guide who knows everything about the history of the
								place or maybe you are just searching for a companion to travel with. We’ve got you
								covered. We have a ton of travel guides you can choose from based on their rating.
								But
								instead, if you are thinking of employing yourself as a travel guide, you can do
								that
								from travellum. It is as easy as opening a facebook account.</p>
							<p>We are trying our best to introduce freelancing to the travel industry. If you really
								think you are capable of being a guide, we don’t ask you for your travel degree, you
								can
								simply register to our site. We will help you find the travellers who are looking
								for
								guides exactly like you. You can earn a decent amount of money without sacrificing
								your
								time in 9-5 job. Work whenever you want and earn the amount you deserve.</p>
							<p>We know traveling in a new place can be scary and as a human we need someone to
								accompany us when we are going someplace new. We can help you find the perfect
								person
								who can be your best bud while traveling. We know that you love meeting new people
								and
								going to new places. So why not choose who you want to travel with? Who knows, your
								perfect travel buddy could be the one you’ve been searching your whole life for.
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- Best Places section -->
	<section class="section" id="destination-section">
		<div class="container">
			<div class="row justify-content-center pb-5" data-aos="fade-up" data-aos-duration="800">
				<div class="col-md-12 heading-section text-center ">
					<span class="subheading">Explore local places</span>
					<h2 class="mb-4">Best Places to Travel in the Country.</h2>
					<p>“You don’t have to be rich to travel well.”</p>
				</div>
			</div>
			<div class="row">
				{% if places %}
					{% for place in places %}
						<div class="col-md-6 col-lg-4 " data-aos="fade-up" data-aos-duration="800">
							<div class="project">
								<div class="img">
									<a href="{% url 'placedetails' place.id %}"><img src="{{ place.photo_1.url }}" class="img-fluid" alt="Image"
											style="height:350px;"></a>
								</div>
								<div class="text">

									<h3><a href="{% url 'placedetails' place.id %}">{{ place.name }}</a></h3>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
				<!-- <div class="col-md-6 col-lg-4 " data-aos="fade-up" data-aos-duration="800">
					<div class="project">
						<div class="img">
							<a href="#"><img src="{% static 'images/ilam.jpg' %}" class="img-fluid" alt="Image"
									style="height:350px;"></a>
						</div>
						<div class="text">

							<h3><a href="#">Ilam</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 " data-aos="fade-up" data-aos-duration="800">
					<div class="project">
						<div class="img">
							<a href="#"><img src="{% static 'images/janakpur.jpg' %}" class="img-fluid" alt="Image"
									style="height:350px;"></a>
						</div>
						<div class="text">

							<h3><a href="#">Janakpur</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 " data-aos="fade-up" data-aos-duration="800">
					<div class="project">
						<div class="img">
							<a href="#"><img src="{% static 'images/patan.jpg' %}" class="img-fluid" alt="Image"
									style="height:350px;"></a>
						</div>
						<div class="text">

							<h3><a href="#">Patan</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 " data-aos="fade-up" data-aos-duration="800">
					<div class="project">
						<div class="img">
							<a href="#"><img src="{% static 'images/chitwan.jpg' %}" class="img-fluid" alt="Image"
									style="height:350px;"></a>
						</div>
						<div class="text">

							<h3><a href="#">Chitwan</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 " data-aos="fade-up" data-aos-duration="800">
					<div class="project">
						<div class="img">
							<a href="#"><img src="{% static 'images/pokhara.jpg' %}" class="img-fluid" alt="Image"
									style="height:350px;"></a>
						</div>
						<div class="text">

							<h3><a href="#">Pokhara</a></h3>
						</div>
					</div>
				</div>-->

				<div class="container" style="display: flex;
				justify-content: center; margin-bottom:10%; " data-aos="fade-up" data-aos-duration="800">
					<a href=" {% url 'places' %}" class="btn btn-primary"
						style="background-color:#e66b58; font-size:1.2rem; ">View all
						Places
						&#8594; </a>
				</div> 
			</div>
		</div>

	</section>
	<!-- Search Guides section -->
	<section class="section no-pb no-pt" data-aos="fade-up" data-aos-duration="800">
		<div class="container">
			<div class="row justify-content-center pb-0 pb-mb-5 pt-5 pt-md-0">
				<div class="col-md-12 heading-section ">
					<h2 class="mb-4" style="text-align: center;">Are you in need of a guide?</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="search-wrap-1  p-4">
						<form action="{% url 'search' %}" class="search-property-1">
							<div class="row">
								<div class="col-lg align-items-end">
									<div class="form-group">
										<label for="#">Check out the available guides:</label>
										<div class="form-field">
											<div class="icon"><span class="ion-ios-search"></span></div>
											<!-- <input type="text" class="form-control"
												placeholder="Enter your destination" name="search" id="search"> -->
											<select name="places" class="form-control">
												<option selected="true" disabled="disabled">Enter your destination
												</option>
												{% if places %}
												{% for place in places %}
												<option value="{{ place.name }}">{{ place.name }}</option>
												{% endfor %}
												{% endif %}
											</select>
										</div>
									</div>
								</div>
								<div class="col-lg align-self-end">
									<div class="form-group">
										<div class="form-field">
											<input type="submit" value="Search" class="form-control btn btn-primary">
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Top Guides Section -->
	<section class="section" id="top-guides" style="margin-top:4%;">
		<div class="container">
			<div class="row justify-content-center pb-5" data-aos="fade-up" data-aos-duration="800">
				<div class="col-md-12 heading-section text-center ">
					<span class="subheading">Populars</span>
					<h2 class="mb-4">Our highly rated guides:</h2>
				</div> mor
			</div>

			<div class="row">
				{% if guides %}
				{% for guide in guides %}
				<div class="col-md-4 col-lg-3" data-aos="flip-right" data-aos-duration="800" style="background-color: rgb(248, 248, 248);
								margin-bottom: 1%;
								padding: 20px;
								box-shadow: 5px 5px 8px #a2a2a8;
								border-radius:3%;">
					<div class="project">
						<div class="img" style="width:90%; height:90%; margin:auto; border-radius:50%; ">
							<a href="{% url 'view_profile' guide.id %}"><img src="{{ guide.photo_main.url }}" class="img-fluid"
									style="border-radius: 50%;" alt="Image"></a>
						</div>
						<div class="text">
							<h3><a href="{% url 'view_profile' guide.id %}">{{ guide.first_name }} {{ guide.last_name }}</a></h3>
							<div class="star d-flex clearfix">Rating: &nbsp;
								<div class="mr-auto float-left">
									<span class="ion-ios-star"></span>
									<span class="ion-ios-star"></span>
									<span class="ion-ios-star"></span>
									<span class="ion-ios-star"></span>
									<span class="ion-ios-star"></span>
								</div>
							</div>
						</div>
						<p><strong>Address:</strong> {{ guide.address }}</p>
					</div>
				</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</section>

	<footer class="footer section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="footer-widget mb-12" style="line-height:2rem;">
						<h2 class="heading-2">Have Questions? Contact us:</h2>

						<span class="icon icon-map-marker"></span><span class="text"> &nbsp;Dhulikhel, Kavre,
							Nepal</span><br>
						<span class="icon icon-phone"></span><span class="text">&nbsp;+977-9865727861</span><br>

						<span class="icon icon-envelope"></span><span class="text">&nbsp;travellum@gmail.com</span>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<img src="{% static 'images/expo_creations.png' %}" style="margin-top: 5%;">
					<p style="margin-top: 2%;">
						Travellum &copy; 2020 All Rights Reserved </p>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function () {
			$(window).scroll(function () {
				if ($(window).scrollTop() > 50) {
					$('#custom-navbar').addClass('navbar-scroll');
				} else {
					$('#custom-navbar').removeClass('navbar-scroll');
				}
			});
		});

		$('body').scrollspy({ target: '#custom-navbar' }); //Navbar active focus
		$('#custom-navbar a').on('click', function (e) {
			//check for hash value
			if (this.hash !== '') {
				e.preventDefault();
				const hash = this.hash;

				//animate smooth scroll
				$('html, body').animate({
					scrollTop: $(hash).offset().top
				}, 900, function () {
					//add hash to url after scroll
					window.location.hash = hash;
				});
			}
		});

		//collapse navbar on clicked in mobile view
		$('.navbar-nav>li>a').on('click', function () {
			$('.navbar-collapse').collapse('hide');
		});
	</script>
	<script src="{% static 'js/aos.js' %}">
	</script>
	<script>
		AOS.init();
	</script>
</body>
<!-- scripts for jquery autocomplete -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	$(function () {
		$("#search_places").autocomplete({		//function for autocomplete that takes id of field
			source: "{% url 'search' %}",			//source for autocomplete // requires JSON list
			minLength: 2
		});
	});
</script>

</html>