*{
    margin: 0;
    padding: 0;
}
/* body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    word-break: normal;
} */


.video-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.video-wrapper video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

/* For overlaying Video with color */
.header-overlay {
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(#2196F3,#FF6E40);
    
    opacity: 0.7;
}

/*Video Header-Text area*/

.header-content {
    z-index: 5;
    position: absolute;
    top: 25%;
    left: 2%; 
}

.header-content h1 {
    font-size: 7em;
    margin-bottom: 0;
    font-weight: 700;
    color: white;
    text-shadow: .05em .01em .05em #09011f8a;
    font-family: 'Permanent Marker', cursive;
}
.header-content h3 {
    padding-top: 5%;
    font-size: 2.5em;
    margin-bottom: 0;
    font-weight: 700;
    color: rgb(18, 243, 48);
    font-family: 'Pacifico', cursive;

}


/* Responsiveness area*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-content h1 {
        font-size: 5em;
    }

    .header-content h3 {
        font-size: 2.3em;
    }

    .header-content {
        top: 37%;
        left: 25%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-content h1 {
        font-size: 3em;
    }

    .header-content h3 {
        font-size: 2em;
    }

    .header-content {
        top: 30%;
        left: 18%;
    }

}

@media only screen and (max-width: 767px) {
    .header-content h1 {
        font-size: 2em;
    }

    .header-content h3 {
        font-size: 1em;
    }

    .header-content {
        top: 35%;
        left: 23%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .header-content h1 {
        font-size: 2em;
    }

    .header-content h3 {
        font-size: 1em;
    }

    .header-content {
        top: 28%;
        left: 32%;
    }
}

@media only screen and (max-width: 480px) {
    .header-content h1 {
        font-size: 2em;
    }

    .header-content h3 {
        font-size: 1em;
    }

    .header-content {
        top: 25%;
        left: 16%;
    }
}

/* --Responsiveness area End-- */