
html {
  scroll-behavior: smooth;
}

.blog-container a {
  color: white !important;
}

.bg-theme {
  background: #e66b58 !important;
  color: #fff !important;
  transition: ease-in-out .3s;
}

.active {
  text-decoration: underline !important;
}

.blog__nav:hover {
  font-size: 1.1rem !important;
  transition: ease .3s;
}

/* ::placeholder {
  color: white !important;
} */

.caret-active, .like-active {
  color: blue !important;
}

#comment-btn:hover, #like-button:hover {
  color: white !important;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

@media (min-width: 768px) {
  .blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media (min-width: 1000px) {
  .blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
