
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

body {
  background: url('../images/bgDarken.jpg') !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

/*  Utility Classes */
.btn-theme {
  background: #e66b58;
}

.btn-theme-outline {
  border: #e66b58 1px solid;
}

.text-lightgray {
  color: #999; 
}

.offset {
  padding-top: 10rem;
}

.bg-custom {
  background: rgba(255,255,255,0.9);
  color: #333;
  height: 220px;
}

.bg-custom .container .row{
  padding: 3.5rem 2rem;
}

.bg-white {
  background: rgba(255,255,255,0.9);
  color: #333;
}

/* Navbar */

.navbar-brand {
  font-weight: 900;
  font-size: 24px;
}

#search {
  cursor: not-allowed;
}

#searchDesInput {
  font-weight: 200;
}

#searchDesInput:focus {
  outline: none !important;
  box-shadow: none !important;
  color: #f8f9fa !important;

}

::placeholder {
  color: #f8f9fa !important;
}

.navbar-brand, .navbar-nav, nav .container .row div:nth-child(2) form {
  padding-top: .7rem;
  padding-bottom: .7rem;
}

.navbar-scroll {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5) !important;
  width: 100%;
  transition: 0.3s;
  animation: scroll 0.3s 1;
  z-index: 2;
}

@keyframes scroll {
  0%{transform: translateY(-100%);}
  100%{transform: translateY(0%);}
}

.navbar-brand-sm {
  font-size: 32px;
  display: none !important;
}



/********* Section-1 ************/
.section-1 {
  font-family: Raleway;
}
.section-1 img {
  width: 100% !important;
  height: 100% !important;
}

.section-1 .port-item {
  width: 30%;
}

.section-1 .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  color: #fff;
  background: #000;
}

.bg-custom .row {
  font-weight: 800;
}

.bg-custom .row h1{
  font-weight: 100;
}

#custom-menu i {
  color: #e66b58;
}

/* Edit Profile */
.profile-pic {
  height: 150px !important;
  width: 150px !important;
  background-image: url('../images/person1.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all .3s ease;
  text-decoration: none;
  cursor: pointer;
}

.profile-pic:hover {
  background-color: rgba(0,0,0,.5);
  z-index: 10000;
  color: #fff;
  transition: all .3s ease;
  text-decoration: none;
}

.profile-pic span {
  display: inline-block;
  padding-top: 4.5em;
  padding-bottom: 4.5em;
}

#profile_pic {
        display: none;
        cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar-brand-sm {
    display: inline !important;
  }
  .navbar-brand{
    display: none;
  }
  #searchDesInput {
    display: none !important;
  }
  
  nav .container .row div:nth-child(2) form {
    justify-content: center;
  }
  .navbar-nav {
    padding-top: .3rem;
    padding-bottom: 0;
  }
  #search {
    cursor: pointer;
  }

  .bg-custom .row h1{
    font-size: 2rem;
  }

}

@media screen and (max-width: 1200px) { /* larger desktops/laptops and smaller */
  .bg-custom .container .row{
    padding: 2rem;
  }
}

@media screen and (max-width: 991px) {
  .bg-custom .container .row{
    padding: 1rem;
  }
}

