@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

body {
  background: url('../images/bgDarken.jpg') !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

a:hover {
  text-decoration: none;
}

/*========================  Utility Classes ===================*/
.pad-0 {
  padding: 0rem !important;
}
.pad-1 {
  padding: 0.3rem !important;
}

.mar-0 {
  margin: 0 !important;
}

.cursorpointer {
  cursor: pointer;
}

.bg-theme {
  background: #e66b58 !important;
  color: #fff !important;
}

.btn-theme {
  background: #e66b58;
  color: #fff !important;
}

.bg-white {
  background: rgba(255, 255, 255, 0.9);
  color: #333;
}

.btn-theme-outline {
  border: #e66b58 1px solid;
}

.text-black {
  color: rgb(236, 225, 225);
}

.text-lightgray {
  color: #999;
}

.offset {
  padding-top: 10rem;
}

.bg-custom {
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  height: 220px;
}

.bg-custom .container .row {
  padding: 3.5rem 2rem;
}

.bg-white {
  background: rgba(255, 255, 255, 0.9);
  color: #333;
}

/*============================ Navbar =======================*/

.navbar-brand {
  font-weight: 900;
  font-size: 24px;
}

#search {
  cursor: default;
}

#search-bar-on-nav {
  text-align: left;
}

#searchDesInput {
  font-weight: 200;
}

#searchDesInput:focus {
  outline: none !important;
  box-shadow: none !important;
  color: #f8f9fa !important;
}

::placeholder {
  color: #f8f9fa !important;
}

.navbar-brand,
.navbar-nav,
nav .container .row div:nth-child(2) form {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.navbar-scroll {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 100%;
  transition: 0.3s;
  animation: scroll 0.3s 1;
  z-index: 2;
}

@keyframes scroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.navbar-brand-sm {
  font-size: 32px;
  display: none !important;
}

#social-logins {
  width: 25% !important;
}

#accordion-login {
  width: 36% !important;
  margin-left: 32% !important;
}

.collapse-on-phones {
  display: block;
}

.show-on-phones-and-hide-on-others {
  display: none !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.hw-bell {
  height: 22.5px !important;
  width: 22.5px !important;
}

.hw-dp {
  height: 32px !important;
  width: 32px !important;
  border-radius: 50%;
}

/*$$$$$$ Source: https://codepen.io/badhe/pen/OREomL $$$$$$*/
.top-text-block {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: inherit !important;
  border-bottom: 1px solid #f4f4f4;
  position: relative;
}
.top-text-block:hover:before {
  content: '';
  width: 4px;
  background: #f05a1a;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
.top-text-block.unread {
  background: #ffc;
}
.top-text-block .top-text-light {
  color: #999;
  font-size: 0.8em;
}
.top-head-dropdown .dropdown-menu {
  position: absolute;
  left: -168px;
  width: 350px;
  height: 300px;
  overflow: auto;
}
.top-head-dropdown li:last-child .top-text-block {
  border-bottom: 0;
}
.topbar-align-center {
  text-align: center;
}
.loader-topbar {
  margin: 5px auto;
  border: 3px solid #ddd;
  border-radius: 50%;
  border-top: 3px solid #666;
  width: 22px;
  height: 22px;
  -webkit-animation: spin-topbar 1s linear infinite;
  animation: spin-topbar 1s linear infinite;
}
@-webkit-keyframes spin-topbar {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin-topbar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ======================= Accounts ========================= */
.account-input {
  outline: none !important;
  box-shadow: none !important;
  color: #fff;
}

.reginput:valid {
  color: #28a745;
}

.reginput:invalid {
  color: orangered;
}

.valid {
  color: #28a745 !important;
}

.invalid {
  color: orangered !important;
}

.is-invalid {
  color: orangered !important;
}

/*========================== Section-1 =======================*/
.section-1 {
  font-family: Raleway;
}
.section-1 img {
  width: 100% !important;
  height: 100% !important;
}

.section-1 .port-item {
  width: 30%;
}

.section-1 .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  color: #fff;
  background: #000;
}

.bg-custom .row {
  font-weight: 800;
}

.bg-custom .row h1 {
  font-weight: 100;
}

#custom-menu i {
  color: #e66b58;
}

/*======================== Edit Profile =======================*/
.profile-pic {
  height: 150px !important;
  width: 150px !important;
  background-image: url('../images/default.png');
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}

.profile-pic:hover {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  color: #fff;
  transition: all 0.3s ease;
  text-decoration: none;
}

.profile-pic span {
  display: inline-block;
  padding-top: 4.5em;
  padding-bottom: 4.5em;
}

#profile_pic {
  display: none;
  cursor: pointer;
}

#accounts-container {
  width: 50%;
}
/*================== Media Queries ===========================*/

@media screen and (max-width: 1200px) {
  /* larger desktops/laptops and smaller */
  .bg-custom .container .row {
    padding: 2rem;
  }
  #accounts-container {
    width: 68% !important;
  }
}

@media screen and (max-width: 991px) {
  .bg-custom .container .row {
    padding: 1rem;
  }

  #social-logins {
    width: 35% !important;
  }

  #accordion-login {
    width: 36% !important;
    margin-left: 32% !important;
  }

  #accounts-container {
    width: 80% !important;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand-sm {
    display: inline !important;
  }
  .navbar-brand {
    display: none;
  }
  #searchDesInput {
    display: none !important;
  }

  nav .container .row div:nth-child(2) form {
    justify-content: center;
  }
  .navbar-nav {
    padding-top: 0.3rem;
    padding-bottom: 0;
  }
  #search {
    cursor: pointer;
  }
  #search-bar-on-nav {
    text-align: center;
  }
  #social-logins {
    width: 75% !important;
  }
  .collapse-on-phones {
    display: none;
  }
  .show-on-phones-and-hide-on-others {
    display: block !important;
  }

  .bg-custom .row h1 {
    font-size: 2rem;
  }

  #accordion-login,
  #accordion-register {
    width: 75% !important;
    margin-left: 13% !important;
  }

  .reduce-on-phones-1 {
    font-size: 20px !important;
  }
  .reduce-on-phones-2 {
    font-size: 30px !important;
    margin-bottom: 20px !important;
  }
  .reduce-on-phones-3 {
    font-size: 14px !important;
  }
  #accounts-container {
    width: 100% !important;
  }
}
