{% extends 'base.html' %}

{% load static %}

{% block title %} 
Single Blogpost
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/blog.css'%}">
{% endblock %}

{% block content %}

<main>
  <div class="container my-5 bg-light">
    <div class="row bg-theme py-3">
      <div id="blog-nav" class="col-md-4 col-6 d-flex align-items-center">
        <a class="px-3 text-light blog__nav" href="{% url 'my_blog' %}">My Blog</a>
        <a class="text-light blog__nav active" href="{% url 'explore' %}">Explore</a>
      </div>
      <div class="col-md-8 col-6 text-right">
        <a class="btn btn-danger mr-3" href="{% url 'create_blog_post' %}">
          <i class="fas fa-pen"></i> 
          Create Blog
        </a>
      </div>
    </div>
    <section class="main-content px-4 py-5">
      <h3 class="mb-4">Explore blogs of different places</h3>
      <div class="card-columns">
        {% if places %}
        {% for place in places %}
        <div class="card mb-4">
          <img 
            class="card-img-top" 
            style="width: 100% !important; height: 30vh !important; object-fit: cover !important;" 
            src="{{ place.photo_1.url }}" 
            alt="Card image cap"
          >
          <div class="card-body">
            <h5 class="card-title ">{{Place.name}}</h5>
            <div style="font-size: .9rem;" class="card-subtitle text-muted"><i class="fas fa-pen"></i> {{place.name}}</div>
            <a href="{% url 'blogs_byplace' place.id %}" class="btn btn-danger my-2" style="font-size: 0.8rem;">View blogs</a>
          </div>
       </div>
       {% endfor %}
       {% endif %}
      </div>
    </section>
  </div>
</main>

{% endblock %}