{% extends 'base.html' %}

{% load static %}

{% block title %} 
Blog
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/blog.css'%}">
{% endblock %}

{% block content %}

<main>
  <div class="container my-5 bg-light">
    <div class="row bg-theme py-3">
      <div class="col-md-4 col-6 d-flex align-items-center">
        <a class="px-3 text-light active blog__nav" href="{% url 'my_blog' %}">My Blog</a>
        <a class="text-light blog__nav" href="{% url 'explore' %}" class="text-light">Explore</a>
      </div>
      <div class="col-md-8 col-6 text-right">
        <a class="btn btn-danger" href="{% url 'create_blog_post' %}" class="">
          <i class="fas fa-pen"></i> 
          Create Blog
        </a>
      </div>
    </div>
    <section class="main-content mx-4 my-5">
      <div class="card-columns">
        <div class="card mb-4">
          <img 
            class="card-img-top" 
            style="width: 100% !important; height: 30vh !important; object-fit: cover !important;" 
            src="https://source.unsplash.com/random/800x1000" 
            alt="Card image cap"
          >
          <div class="card-body">
            <h5 class="card-title ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum omnis, numquam voluptates ut itaque et voluptas minima sint maxime temporibus ipsa harum at corrupti ad. Placeat illo qui dignissimos tempora.</h5>
            <div style="font-size: .9rem;" class="card-subtitle text-muted"><i class="fas fa-pen"></i> Buddha Mani Gautam<br>2020/12/09</div>
            <a href="{% url 'single_blog_post' %}" class="btn btn-danger my-2" style="font-size: 0.8rem;">Read More</a>
          </div>
        </div>
        <div class="card mb-4">
          <img 
            class="card-img-top" 
            style="width: 100% !important; height: 30vh !important; object-fit: cover !important;" 
            src="https://source.unsplash.com/random/800x1000" 
            alt="Card image cap"
          >
          <div class="card-body">
            <h5 class="card-title ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nulla, cupiditate culpa nisi sit eveniet sapiente amet maxime iusto reiciendis?</h5>
            <div style="font-size: .9rem;" class="card-subtitle text-muted"><i class="fas fa-pen"></i> Buddha Mani Gautam<br>2020/12/09</div>
            <a href="{% url 'single_blog_post' %}" class="btn btn-danger my-2" style="font-size: 0.8rem;">Read More</a>
          </div>
        </div>
        <div class="card mb-4">
          <img 
            class="card-img-top" 
            style="width: 100% !important; height: 30vh !important; object-fit: cover !important;" 
            src="https://source.unsplash.com/random/800x1000" 
            alt="Card image cap"
          >
          <div class="card-body">
            <h5 class="card-title ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit quae, nesciunt sed tempora animi corrupti quis cum inventore nemo ullam asperiores laboriosam</h5>
            <div style="font-size: .9rem;" class="card-subtitle text-muted"><i class="fas fa-pen"></i> Buddha Mani Gautam<br>2020/12/09</div>
            <a href="{% url 'single_blog_post' %}" class="btn btn-danger my-2" style="font-size: 0.8rem;">Read More</a>
          </div>
        </div>
        <div class="card mb-4">
          <img 
            class="card-img-top" 
            style="width: 100% !important; height: 30vh !important; object-fit: cover !important;" 
            src="https://source.unsplash.com/random/800x1000" 
            alt="Card image cap"
          >
          <div class="card-body">
            <h5 class="card-title ">Blog Post</h5>
            <div style="font-size: .9rem;" class="card-subtitle text-muted"><i class="fas fa-pen"></i> Buddha Mani Gautam<br>2020/12/09</div>
            <a href="{% url 'single_blog_post' %}" class="btn btn-danger my-2" style="font-size: 0.8rem;">Read More</a>
          </div>
        </div>
        <div class="card mb-4">
          <img 
            class="card-img-top" 
            style="width: 100% !important; height: 30vh !important; object-fit: cover !important;" 
            src="https://source.unsplash.com/random/800x1000" 
            alt="Card image cap"
          >
          <div class="card-body">
            <h5 class="card-title ">Blog Post</h5>
            <div style="font-size: .9rem;" class="card-subtitle text-muted"><i class="fas fa-pen"></i> Buddha Mani Gautam<br>2020/12/09</div>
            <a href="{% url 'single_blog_post' %}" class="btn btn-danger my-2" style="font-size: 0.8rem;">Read More</a>
          </div>
        </div>
        <div class="card mb-4">
          <img 
            class="card-img-top" 
            style="width: 100% !important; height: 30vh !important; object-fit: cover !important;" 
            src="https://source.unsplash.com/random/800x1000" 
            alt="Card image cap"
          >
          <div class="card-body">
            <h5 class="card-title ">Blog Post</h5>
            <div style="font-size: .9rem;" class="card-subtitle text-muted"><i class="fas fa-pen"></i> Buddha Mani Gautam<br>2020/12/09</div>
            <a href="{% url 'single_blog_post' %}" class="btn btn-danger my-2" style="font-size: 0.8rem;">Read More</a>
          </div>
        </div>
      </div>
    </section>

  </div>
  
</main>





{% endblock %}