{% extends 'base.html' %}
{% load static %}

{% block style %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
<link rel='stylesheet prefetch'
  href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<link rel="stylesheet" href="{% static 'css/chat.css' %}">

{% endblock %}

{% block title %}
Messenger
{% endblock %}

{% block content %}
<div style="display: flex; align-items: center; justify-content: center; position:relative; ">
  <div id="frame" style="justify-content: center;">
    <div id="sidepanel" style="border-radius:10px 0px 0px 10px;">
      <div id="profile">
        <div class="wrap">
          {% if traveller_currentuser.photo_main %}
          <img id="profile-img" src="{{ traveller_currentuser.photo_main.url }}" alt="" />
          {% else %}
          <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
          {% endif %}
          <p>{{user.first_name}} {{user.last_name}}</p>
        </div>
      </div>
      <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" placeholder="Search contacts..." id="search_user" name="search_user" />
      </div>
      <!--================side panel===================-->
      <div id="contacts">
        <ul>
          {% for chat_detail in chat_details %}

          <a href="/chat/{{chat_detail.user.email}}">
            {% if chat_detail.user.email == chat_friend.email %}
            <li class="contact" style="background: #32465a;" id="bhroom">
              {% else %}
            <li class="contact">
              {% endif %}
              <div class="wrap">
                <img src="{{chat_detail.user_photo.url}}" alt="">
                <div class=" meta">
                  <p style="color: aliceblue; font-size: 1rem; ">{{chat_detail.user.first_name}}
                    {{chat_detail.user.last_name}}
                  </p>
                  <p class="preview" style="color: #ffffff; font-size: 0.7rem; font-weight: 200 ">
                    {% if chat_detail.is_last_messagebycurrentuser %}
                    you: {% endif %}{{chat_detail.last_message}}
                  </p>
                </div>
              </div>
            </li>
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="content" style="border-radius:0px 10px 10px 0px;">
      <div class="contact-profile">
        <img src="{{ traveller_chatuser.photo_main.url }}" alt="" />

        <p>{{chat_friend.first_name}} {{chat_friend.last_name}} </p>
      </div>
      <div class="messages">
        <ul id='message-ul'>
          {% for chat in chat_list %}
          {% if chat.sender.email == user.email %}
          <li class="sent">
            <img src="{{ traveller_currentuser.photo_main.url }}" alt="" />
            <p data-toggle="tooltip" data-placement="left" title="{{chat.message_time}}">{{chat.message_text}}</p>
          </li>
          {% else %}
          <li class="replies">
            <img src="{{ traveller_chatuser.photo_main.url }}" alt="" />
            <p data-toggle="tooltip" data-placement="right" title="{{chat.message_time}}">{{chat.message_text}}</p>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
          <form method="post">
            {% csrf_token %}
            <input type="text" name="message" placeholder="Write your message" style="color: black;"
              id='chat-message-input' autocomplete="off">
            <button class="submit" id="submit-button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

<script>
  $(document).ready(function () {

    var url = 'ws://' + window.location.host + '/ws/chat/' + '{{chat_friend.email}}/';
    var chatSocket = new WebSocket(url);

    chatSocket.onmessage = function (event) {
      var data = JSON.parse(event.data);
      var message = data.message;
      var time = new Date(data['time']).toLocaleString('en');
      var $messages = $('#message-ul')

      var user = '{{user.email}}'

      if (user == data.sender) {
        $messages.append('<li class="sent"><img src="{{ traveller_currentuser.photo_main.url }}" alt="" /><p data-toggle="tooltip" data-placement="left" title = "' + time + '" >' + message + '</p></li>');
        $(".messages").animate({
          scrollTop: $(
            '.messages').get(0).scrollHeight
        }, 600);
      } else {
        $messages.append('<li class="replies"><img src="{{ traveller_chatuser.photo_main.url }}" alt="" /><p data-toggle="tooltip" data-placement="left" title = "' + time + '" >' + message + '</p></li>');
        $(".messages").animate({
          scrollTop: $(
            '.messages').get(0).scrollHeight
        }, 600);
      }
      var $latest_text = $('#bhroom .preview')
      if (user == data.sender) {
        $latest_text.text('you: ' + message.slice(0, 40))
      }
      else {
        $latest_text.text(message.slice(0, 40))
      }
    };

    chatSocket.onclose = function (event) {
      console.error('Chat socket closed unexpectedly');
    };

    chatSocket.onopen = function (event) {
      var $input = $('#chat-message-input');
      var $submit = $('#submit-button');

      $(".messages").animate({ scrollTop: $('.messages').get(0).scrollHeight }, 1000);

      $submit.click(function (e) {
        e.preventDefault()
        var message = $input.val();
        if (message) {
          chatSocket.send(JSON.stringify({ 'message': message }));
          $input.val('');
        }
        $input.focus();
      });
    }
    // $(function () {
    //   var temp = ["hello","there","mate"]
    //   $("#search_user").autocomplete({		//function for autocomplete that takes id of field
    //     source: temp 	//source for autocomplete // requires JSON list
    //   });
    // });

  });
</script>



<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

{% endblock %}