{% extends 'base.html' %}

{% load static %}

{% block title %}
Create Trip
{% endblock %}

{% block content %}

<div id="register-container" class="container">
    <section class=" row justify-content-center">
        <section>
            <div class="mt-5" style="background:#fff; padding:30px; border-radius:10px; box-shadow:0px 0px 10px 0px;">
                <form method="POST">
                    {% csrf_token %}
                    <h2 class=" row justify-content-center mb-5">Create a trip:</h2>
                    <div class="row">
                        <div class="col-md-10 col-sm-12">
                            <input type="hidden" name="traveller_id" value="{{ traveller_user.id }}">
                            <div class="form-group">
                                <label>Traveller's name:</label>
                                <input class="form-control" id=" " name="traveller_name"
                                    value="{{traveller_user.first_name}} {{traveller_user.last_name}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <div class="form-group">
                                <label>Traveller's email address:</label>
                                <input class="form-control" id=" " name="traveller_email"
                                    value="{{traveller_user.email}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <div class="form-group">
                                <label for="Title">Place you want to guide of</label><br>
                                <input class="form-control" list="places" name="place" pattern="{{place_pattern}}" title='enter a valid place' value="{{g_user.get_place}}" autocomplete="off" required>
                                <datalist id="places">
                                  {% if places %}
                                  {% for place in places %}
                                    <option value="{{ place.name }}">
                                  {% endfor %}
                                  {% endif%}
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6">
                            <div class="form-group">
                                <label>No. of people(>12 years of age):</label>
                                <input class="form-control" id=" " name="no_of_people">
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6">
                            <div class="form-group">
                                <label>No.of children:</label>
                                <input class="form-control" id=" " name="no_of_children">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Total no. of travelling hours:</label>
                                <input class="form-control" id=" " name="travel_hours">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label>Total cost(Rs.):</label>
                                <input class="form-control" id=" " name="cost" disabled>
                            </div>
                        </div>
                        <div class="row px-4 mt-4">
                            <div class="">
                                <button type="submit" class="btn btn-primary mr-3" name="confirm"
                                    style="margin-bottom:5%; ">Confirm</button>
                            </div>
                            <div class="">
                                <a href="{% url 'view_profile' traveller_user.id %}"><button type="submit"
                                        class="btn btn-danger" name="cancel"><i class="fas fa-times"></i>
                                        Cancel</button></a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </section>
    </section>
</div>

{% endblock %}