{% extends 'base.html' %} 

{% load static %}

{% block content %}

<main>
  <!--=================== Main Dashboard ===================-->
  <section class="section-1">
    <div class="container py-5">
      <!--============ Dashboard Navigation ================-->
      <div class="row no-gutters">
        <div class="col-lg-3 col-md-5">
            {% if traveller_user %}
              {% for traveller in traveller_user %}
                {% if traveller.photo_main %}
                  <img src="{{ traveller.photo_main.url }}" alt="">
                {% else %}
                  <img src="{% static 'images/default.png' %}" alt="">
                {% endif %}
              {% endfor %}
            {% endif %}
        </div>

        <div class="col-lg-9 col-md-7">

          <div class="d-flex flex-column">
            <div class="px-4 py-2 bg-transparent text-white">
              <div class="d-flex flex-row justify-content-between align-items-center">
                <h4 class="display-5">{% if traveller_user %}{% for traveller in traveller_user %}{{traveller.slogan}}{% endfor %}{% endif %}</h4>
              </div>
            </div>

            <div class="bg-custom">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    {% if traveller_user %}
                      {% for traveller in traveller_user %}
                        {{traveller.address}}<br>
                        <h1>{{ traveller.first_name }} {{ traveller.last_name }} </h1>
                        {% if traveller.is_guide %}Replies within: 84 hours{% endif %}
                      {% endfor %}
                    {% endif %}
                  </div>
                  {% if traveller_user %}
                    {% for traveller in traveller_user %}
                      {% if traveller.is_guide %}
                        <div class="col-md-6 text-right">
                          <h3><span class="display-4 d-inline text-success">Rs.</span>{{traveller.price_per_hour}}/hr</h3>
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>        
      
      {% if my_profile %}
      <div>
        <div class="d-flex flex-row text-white align-items-stretch text-center bg-white" id="custom-menu">
          <div class="port-item p-4 mx-md-3 mx-1 bg-white" data-toggle="collapse" data-target="#about_me">
            <i class="fa fa-user fa-2x pr-2"></i>
            <span class="d-none d-md-inline">About Me</span>
          </div>
          <div class="port-item p-4 mx-md-3 mx-1 bg-white" data-toggle="collapse" data-target="#guide">
            <i class="fa fa-id-card fa-2x pr-2"></i>
            <span class="d-none d-md-inline">Guide</span>
          </div>
          <div class="port-item p-4 mx-md-3 mx-1 bg-white" data-toggle="collapse" data-target="#traveller">
            <i class="fa fa-suitcase fa-2x pr-2"></i>
            <span class="d-none d-md-inline">Traveller</span>
          </div>
      </div>
      {% endif %}
      <!--=========== End of Dashboard Navigation ==========-->



      <!--============== About Me Collapse =================-->
      <div id="about_me" class="collapse show">
        <div class="card card-body bg-white px-3 py-5">
          
          <!--========= Edit Profile Section ===============-->
          {% if my_profile %}<h4 class="px-3" style="color: #e2c0bb;">Let People know about you</h4>
          <div>
            <ul class="d-flex p-3" style="list-style: none;">
              <div class="mr-3">
                <li>
                  {% if traveller_user %}
                    {% for traveller in traveller_user %}
                      {% if traveller.address %}
                        <i class="text-success fa fa-check"></i>
                        <small>Add your Location</small>
                      {% else %}
                        <i class="text-danger fa fa-times"></i>
                        <small>Add your Location</small>
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                </li>

                <li>
                  {% if traveller_user %}
                    {% for traveller in traveller_user %}
                      {% if traveller.photo_main %}
                        <i class="text-success fa fa-check"></i>
                        <small>Add Profile Picture</small>
                      {% else %}
                        <i class="text-danger fa fa-times"></i>
                        <small>Add Profile Picture</small>
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                </li>

                <li>
                  {% if traveller_user %}
                    {% for traveller in traveller_user %}
                      {% if traveller.languages %}
                        <i class="text-success fa fa-check"></i>
                        <small>Add Languages you Speak</small>
                      {% else %}
                        <i class="text-danger fa fa-times"></i>
                        <small>Add Languages you Speak</small>
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                </li>
              </div>
              <div>
                <li>
                  <i class="text-danger fa fa-times"></i>
                  <!-- <i class="text-success fa fa-check"></i> -->
                  <small>Add Hobbies</small>
                </li>

                <li>
                  {% if traveller_user %}
                    {% for traveller in traveller_user %}
                      {% if traveller.bio %}
                        <i class="text-success fa fa-check"></i>
                        <small>Add About Yourself</small>
                      {% else %}
                        <i class="text-danger fa fa-times"></i>
                        <small>Add About Yourself</small>
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                </li>
              </div>
            </ul>
            
          </div>
          {% endif %}
          
          <div class="container">
            <div class="row">
              <div class="col-md-10"></div>
              {% if my_profile %}
              <button class="btn btn-theme mb-4 col-md-2 text-light" data-toggle="modal" data-target="#edit_profile_modal">Edit Profile</button>
              {% endif %}
            </div>
          </div>
          <span class="border-bottom"></span><br>
          <!-- End of Edit Profile Section -->

          <!--======= Profile Description Section ==========-->
          <h2 class="px-3" style="color: #e2c0bb;">Hi there! Nice to meet you</h2>
          <p class="p-3 text-justify">
            {% if traveller_user %}{% for traveller in traveller_user %}{{traveller.bio}}{% endfor %}{% endif %}
            <br>
            <p class="pr-3 pb-3 pl-3 text-justify collapse" id="collapse-btn-1">More content lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta explicabo ad pariatur nisi nulla vel numquam officiis laboriosam, commodi corrupti nostrum iste voluptatibus quaerat perferendis odit, doloribus amet corporis cumque dolores minus asperiores laudantium ut similique aliquam. Perspiciatis repellat mollitia ex ut! Vero nostrum nihil ea, eveniet blanditiis voluptas expedita enim nam odio. Nemo autem repudiandae voluptate inventore, facilis nihil blanditiis esse nisi, consequatur maxime perspiciatis, deserunt laborum vero est! Deserunt facere ad delectus non?</p>
            <div class="container">
              <div class="row">
                <div class="col-md-10"></div>
                <button class="btn btn-theme mb-4 col-md-2 text-light" data-toggle="collapse" data-target="#collapse-btn-1">Read More</button>
              </div>
            </div>
            <span class="border-bottom"></span>
          </p>
          <!-- End of Profile Description Section -->

          <!--============= Languages Section ============-->
          <h4 class="px-3" style="color: #e2c0bb;">Languages</h4>
          <p class="p-3 border-bottom">{% if traveller_user %}{% for traveller in traveller_user %}{{traveller.languages}}{% endfor %}{% endif %}</p>
          <!-- End of Languages Section -->

          <!--============= Interests Section ==============-->
          <h4 class="px-3" style="color: #e2c0bb;">Interests</h4>
          <p class="p-3 border-bottom">Travelling</p>
          <!-- End of Interests Section -->

        </div>
      </div>
      <!-- End of About Me Collapse -->


      
      <!--=============== Guide Collapse ===================-->
      <div class="collapse" id="guide">
        <div class="d-flex">
          <div class="card card-body bg-white px-3 py-5 text-center align-items-center">
            <div class="border-bottom">
              <h2 style="color: #e2c0bb;">No Guide History</h2>
              <button class="btn btn-theme-outline px-5 py-3 mt-2 mb-5">Become a Guide</button> 
            </div>
            <div class="border-bottom py-5">
              <h2 style="color: #e2c0bb;">No Guide Reviews</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Guide Collapse -->

      

      <!--============= Traveller Collapse ================-->
      <div class="collapse" id="traveller">
        <div class="d-flex">
          <div class="card card-body bg-white px-3 py-5 text-center align-items-center">
            <div class="border-bottom">
              <h2 style="color: #e2c0bb;">No Traveller History</h2>
              <button class="btn btn-theme-outline px-5 py-3 mt-2 mb-5" id="btn-search-des">Search for Destinations...</button> 
            </div>
            <div class="border-bottom py-5">
              <h2 style="color: #e2c0bb;">No Traveller Reviews</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Traveller Collapse -->

    </div>
  </section>
</main>


<!--========================= Modals =====================-->


<!--================= Edit Profile Modal =================-->
<div class="modal" id="edit_profile_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Edit Profile
        </h5>
        <button class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data"">
        {% csrf_token %}

          <!-- Choose Image Overlay -->
          <!-- Source: https://codepen.io/JohanDelValle/pen/mZwKrx?editors=1100 -->
          <div class="d-flex justify-content-around">
            <span>
              <label for="profile_pic">
                <div class="profile-pic">
                    <span class="fa fa-camera"></span>
                    <span>Change Image</span>
                </div>
                </label>
                <input type="File" name="photo_main" id="profile_pic">
            </span>
          </div>
          <!-- End of Choose Image Overlay -->

          <!--============ Edit Profile Inputs ==================-->
          <div class="form-group">
            <label for="location">First Name</label>
            <input type="text" class="form-control" name="first_name" {% if traveller_user %}{% for traveller in traveller_user %} value="{{traveller.first_name}}" {% endfor %}{% endif %}>
          </div>
          <div class="form-group">
            <label for="location">Last Name</label>
            <input type="text" class="form-control" name="last_name" {% if traveller_user %}{% for traveller in traveller_user %} value="{{traveller.last_name}}" {% endfor %}{% endif %}>
          </div>

          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" name="address" {% if traveller_user %}{% for traveller in traveller_user %} value="{{traveller.address}}" {% endfor %}{% endif %}>
          </div>

          <div class="form-group">
            <label for="slogan">Slogan</label>
            <input type="text" class="form-control" name="slogan" {% if traveller_user %}{% for traveller in traveller_user %} value="{{traveller.slogan}}" {% endfor %}{% endif %}>
          </div>
    
          <div class="form-group">
            <label for="about_me">About Me</label>
            <textarea class="form-control" rows="3" name="bio">{% if traveller_user %}{% for traveller in traveller_user %}{{traveller.bio}}{% endfor %}{% endif %}</textarea>
          </div>

          <div class="form-group">
            <label for="Languages">Languages</label><br>
            <input type="text" class="form-control" name="languages" {% if traveller_user %}{% for traveller in traveller_user %} value="{{traveller.languages}}" {% endfor %}{% endif %}>
          </div>

          {% if traveller_user %}
            {% for traveller in traveller_user %}
              {% if traveller.is_guide %}
                <div class="form-group">
                  <label for="pph">Price/hr</label><br>
                  <input type="number" class="form-control" name="pph" value="{{traveller.price_per_hour}}" >
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}

          <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" name="gender">
              {% if traveller_user %}
                {% for traveller in traveller_user %}
                  {% ifnotequal traveller.gender "" %}<option selected>{{traveller.gender}}</option>{% endifnotequal %}

                  {% ifequal traveller.gender "Male" %}
                  <option>Female</option>
                  <option>Other</option>
                  {% endifequal %}

                  {% ifequal traveller.gender "Female" %}
                  <option>Male</option>
                  <option>Other</option>
                  {% endifequal %}

                  {% ifequal traveller.gender "Other" %}
                  <option>Female</option>
                  <option>Male</option>
                  {% endifequal %}

                  {% ifequal traveller.gender "" %}
                  <option>Female</option>
                  <option>Male</option>
                  <option>Other</option>
                  {% endifequal %}

                  <!-- <option>4</option> -->
                {% endfor %}
              {% endif %}
            </select>
          </div>  

          <div class="form-group">
            <label>Interests</label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Exploration & Sightseeing</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Food & Restaurants</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Driving Tours</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Sports & Recreation</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Art & Museums</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> History & Culture</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Nightlife & Bars</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Shopping</label>
            </div>
          </div>
          <!-- End of Edit Profile Inputs -->

        
          <div class="modal-footer">
            <input type="submit" value="Save Changes" name="Update Profile" class="btn btn-success">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End of Edit Profile Modal -->
<!-- End of Modals -->

{% endblock %}
