{% extends 'base.html' %}

{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/rating.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}

<main>
  <!--=================== Main Dashboard ===================-->
  <section class="section-1">
    <div class="container py-5">
      <!--============ Dashboard Navigation ================-->
      <div class="row no-gutters">
        <div class="col-lg-3 col-md-4">
          {% if traveller_user %}
          {% if traveller_user.photo_main %}
          <img class="profile-pic" style="height: 275px !important; width: 100% !important; cursor: auto;"
            src="{{ traveller_user.photo_main.url }}" alt="">
          {% else %}
          <img src="{% static 'images/default.png' %}">

          {% endif %}
          {% endif %}
        </div>

        <div class="col-lg-9 col-md-8">

          <div class="d-flex flex-column">
            <div class="px-4 py-2 bg-transparent text-white">
              <div class="d-flex flex-row justify-content-between align-items-center">
                <h4 class="display-5">
                  {% if traveller_user %}
                  {% if traveller_user.slogan %}
                  {{traveller_user.slogan}}
                  {% else %}
                  <p style="visibility: hidden; margin: 0;">Ready to show you around my city...</p>
                  {% endif %}
                  {% endif %}
                </h4>
              </div>
            </div>

            <div class="bg-custom">
              <div class="container">
                <div class="row p-0" style="margin: 3rem .5rem;">
                  <div class="col-md-6">
                    {% if traveller_user %}
                    {{traveller_user.address}}<br>
                    <h2>{{ traveller_user.first_name }} {{ traveller_user.last_name }} </h2>
                    {% if traveller_user.is_guide %}Replies within: {{guide_user.replies_within}} hours{% endif %}
                    {% endif %}
                  </div>
                  {% if traveller_user %}
                  {% if guide_user.is_published %}
                  <div class="col-md-6 text-right">
                    <h3><span class="display-5 d-inline text-success">Rs.</span>{{guide_user.price}}/hr
                    </h3>
                  </div>
                  <div>
                    {% if not my_profile %}
                    <form action="{% url 'notifications' %}" method="POST">
                      {% csrf_token %}

                      <input type="hidden" name="traveller_id" value="{{ traveller.id }}">
                      <input type="submit" name="request_guide">
                    </form>
                    <form action="https://uat.esewa.com.np/epay/main" method="POST">
                      <input value="120" name="tAmt" type="hidden">
                      <input value="100" name="amt" type="hidden">
                      <input value="5" name="txAmt" type="hidden">
                      <input value="15" name="psc" type="hidden">
                      <input value="0.00" name="pdc" type="hidden">
                      <input value="epay_payment" name="scd" type="hidden">
                      <input value="1221211211" name="pid" type="hidden">
                      <!-- <input value="{{ traveller_user.id }}{{request.user.id}}" name="pid" type="hidden"> -->
                      <input value="http://merchant.com.np/page/esewa_payment_success?q=su" type="hidden" name="su">
                      <input value="http://merchant.com.np/page/esewa_payment_failed?q=fu" type="hidden" name="fu">
                      <input value="Pay via Esewa" type="submit">
                    </form>
                    {% endif %}
                  </div>
                  {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div>
        <div class="d-flex flex-row text-white align-items-stretch text-center bg-white" id="custom-menu">
          <div class="port-item p-4 mx-md-3 mx-1 bg-white" data-toggle="collapse" data-target="#about_me">
            <i class="fa fa-user fa-2x pr-2"></i>
            <span class="d-none d-md-inline">About Me</span>
          </div>
          <div class="port-item p-4 mx-md-3 mx-1 bg-white" data-toggle="collapse" data-target="#guide">
            <i class="fa fa-id-card fa-2x pr-2"></i>
            <span class="d-none d-md-inline">Guide</span>
          </div>
          <div class="port-item p-4 mx-md-3 mx-1 bg-white" data-toggle="collapse" data-target="#traveller">
            <i class="fa fa-suitcase fa-2x pr-2"></i>
            <span class="d-none d-md-inline">Traveller</span>
          </div>
        </div>
        <!--=========== End of Dashboard Navigation ==========-->



        <!--============== About Me Collapse =================-->
        <div id="about_me" class="collapse show">
          <div class="card card-body bg-white px-3 py-5">

            <!--========= Edit Profile Section ===============-->
            {% if my_profile %}<h4 class="px-3" style="color: #e2c0bb;">Let People know about you</h4>
            <div>
              <ul class="d-flex p-3" style="list-style: none;">
                <div class="mr-3">
                  <li>
                    {% if traveller_user %}
                    {% if traveller_user.address %}
                    <i class="text-success fa fa-check"></i>
                    <small>Add your Location</small>
                    {% else %}
                    <i class="text-danger fa fa-times"></i>
                    <small>Add your Location</small>
                    {% endif %}
                    {% endif %}
                  </li>

                  <li>
                    {% if traveller_user.photo_main and not traveller_user.photo_main.url == '/media/default.jpeg' %}
                    <i class="text-success fa fa-check"></i>
                    <small>Add Profile Picture</small>
                    {% else %}
                    <i class="text-danger fa fa-times"></i>
                    <small>Add Profile Picture</small>
                    {% endif %}
                    

                  </li>

                  <li>
                    {% if traveller_user %}
                    {% if traveller_user.languages %}
                    <i class="text-success fa fa-check"></i>
                    <small>Add Languages you Speak</small>
                    {% else %}
                    <i class="text-danger fa fa-times"></i>
                    <small>Add Languages you Speak</small>
                    {% endif %}
                    {% endif %}

                  </li>
                </div>
                <div>
                  <li>
                    <i class="text-danger fa fa-times"></i>
                    <!-- <i class="text-success fa fa-check"></i> -->
                    <small>Add Hobbies</small>
                  </li>

                  <li>
                    {% if traveller_user %}
                    {% if traveller_user.bio %}
                    <i class="text-success fa fa-check"></i>
                    <small>Add About Yourself</small>
                    {% else %}
                    <i class="text-danger fa fa-times"></i>
                    <small>Add About Yourself</small>
                    {% endif %}
                    {% endif %}

                  </li>
                </div>
              </ul>
            </div>
            {% endif %}

            <div class="container">
              <div class="row">
                <div class="col-md-10"></div>
                {% if my_profile %}
                <button class="btn btn-theme mb-4 col-md-2 text-light" data-toggle="modal"
                  data-target="#edit_profile_modal">Edit Profile</button>
                {% endif %}
              </div>
            </div>

            <div class="my-5 border-bottom"></div><br>
            <!-- End of Edit Profile Section -->

            <!--======= Profile Description Section ==========-->
            <h2 class="px-3" style="color: #e2c0bb;">Hi there! Nice to meet you</h2>
            <p class="mt-3 px-3 text-justify">
              {% if traveller_user %}{{bio_first}}{% endif %}
            </p>
            <br>
            {% if bio_second %}
              <p class="px-3 pb-3 text-justify collapse" id="collapse-btn-1">
                {{bio_second}}
              </p>
            {% endif %}
            <div class="container">
              <div class="row">
                <div class="col-md-10"></div>
                {% if bio_second %}
                <button class="btn btn-theme mb-4 col-md-2 text-light" data-toggle="collapse"
                  data-target="#collapse-btn-1">Read More</button>
                {% endif %}
              </div>
              <div class="my-5 border-bottom"></div>
              <!-- End of Profile Description Section -->

              <!--============= Languages Section ============-->
              <h4 class="px-1" style="color: #e2c0bb;">Languages</h4>
              <p class="pl-1">
                {% if traveller_user %}{{traveller_user.languages}}{% endif %}
              </p>
              <div class="my-5 border-bottom"></div>
              <!-- End of Languages Section -->

              <!--============= Interests Section ==============-->
              <h4 class="px-1" style="color: #e2c0bb;">Interests</h4>
              <p class="pl-1">Travelling</p>
              <div class="my-5 border-bottom"></div>

              <!-- End of Interests Section -->

            </div>
          </div>
        </div>
        <!-- End of About Me Collapse -->



        <!--=============== Guide Collapse ===================-->
        <div class="collapse" id="guide">
          <div class="d-flex">
            <div class="card card-body bg-white px-3 py-5 text-center align-items-center">
              {% if guide_user %}
              {% if guide_user.is_published %}
              <div class="col-md-12 border-bottom mb-5">
                <h2 style="color: #e2c0bb;">Edit Guide Details</h2>
                <p class="mt-4 mb-2">Edit your price and place </p>
                <button class="btn btn-theme mt-2" data-toggle="modal" data-target="#edit-guide-details">Edit Guide
                  Details</button>
                <div class="mb-5"></div>
              </div>
              {% endif %}
              {% endif %}

              <div class="col-md-12 border-bottom mb-5">
                {% if guide_user %}
                {% if guide_user.is_published %}
                <div class="mb-5">
                  {% if guide_historys %}
                  <h2 style="color: #e2c0bb;">Guide History</h2>
                  {% for guide_history in guide_historys %}
                  <div class="mt-5"></div>
                  <p class="col-12 text-left">
                    You travelled with
                    {{ guide_history.traveller.first_name }}{{ guide_history.traveller.last_name }}
                    to
                    <a href="">{{ guide_history.place.name }}</a>
                    - {{guide_history.end_date|date:'M d,Y'}}
                  </p>
                  <div class="mb-5"></div>
                  {% endfor %}
                  {% else %}
                  <h2 class="display-none display-md-block mb-5" style="color: #e2c0bb;">No Guide History</h2>
                  {% endif %}
                </div>
                {% else %}
                <p class="mt-4"> Your request for becoming a guide is being processed...</p>
                <p class="pb-3 mb-5">You will be notified soon.</p>
                {% endif %}
                {% else %}
                <h2 class="display-none display-md-block mb-5" style="color: #e2c0bb;">No Guide History</h2>
                  <button class="btn btn-theme-outline px-5 py-3" data-toggle="modal"
                  data-target="#guide_form_modal">Become a Guide</button>
                  <div class="my-5"></div>
                {% endif %}
              </div>
              



                <div class="container text-left">
                {% if guide_user.is_published %}
                {% if guide_reviews %}
                <div class="mt-5"></div>
                <h2 class="text-center" style="color: #e2c0bb;">Guide Reviews</h2>
                <div class="mb-5"></div>
                {% for guide_review in guide_reviews %}
                <div class="row border py-3 my-3" style="background: white !important;">
                  <div class="col-2 col-lg-1 pl-2 pr-0 px-md-4 px-lg-3">
                    <img src={{guide_review.guide_reviewer.photo_main.url}}
                      style="object-fit: contain; width: 100%; border-radius: 50%" alt="prof_pic">
                  </div>
                  <div class="col-10 col-lg-11">
                    <h5 class="text-muted" style="font-weight: 500; font-size: .8rem;">
                      {{ guide_review.guide_reviewer.first_name }} {{ guide_review.guide_reviewer.last_name }}</h5>
                    <div class="review__rating m-n2">
                      {% if guide_review.guide_ratings == 1 %}
                      <label class="star mr-n2" aria-hidden="true"></label>
                      {% elif guide_review.guide_ratings == 2 %}
                      <label class="star mr-n2" aria-hidden="true"></label>
                      <label class="star mr-n2" aria-hidden="true"></label>
                      {% elif guide_review.guide_ratings == 3 %}
                      <label class="star mr-n2" aria-hidden="true"></label>
                      <label class="star mr-n2" aria-hidden="true"></label>
                      <label class="star mr-n2" aria-hidden="true"></label>
                      {% elif guide_review.guide_ratings == 4 %}
                      <label class="star mr-n2" aria-hidden="true"></label>
                      <label class="star mr-n2" aria-hidden="true"></label>
                      <label class="star mr-n2" aria-hidden="true"></label>
                      <label class="star mr-n2" aria-hidden="true"></label>
                      {% else %}
                      <label class="star mr-n2" aria-hidden="true"></label>
                      <label class="star mr-n2" aria-hidden="true"></label>
                      <label class="star mr-n2" aria-hidden="true"></label>
                      <label class="star mr-n2" aria-hidden="true"></label>
                      <label class="star mr-n2" aria-hidden="true"></label>
                      {% endif %}
                    </div>
                    <p class="m-0" style="font-family: Arial, Helvetica, sans-serif;">{{guide_review.guide_review}}</p>
                  </div>
                </div>
                {% endfor %}
                {% endif %}
                {% else %}
                <h2 style="color: #e2c0bb;" class="mt-5 text-center">No Guide Reviews</h2>
                <div class="border-bottom my-5"></div>
                {% endif %}
                </div>
            </div>
          </div>
        </div>
        <!-- End of Guide Collapse -->



        <!--============= Traveller Collapse ================-->
        <div class="collapse" id="traveller">
          <div class="d-flex">
            <div class="card card-body bg-white px-3 py-5 text-center align-items-center">
              <div class="w-100">
                {% if traveller_historys %}
                  <h2 class="" style="color: #e2c0bb;">Traveller History</h2>
                {% for traveller_history in traveller_historys %}
                  <div class="mt-5"></div>
                  <p class="col-12 text-left">
                    You travelled with
                    {{ traveller_history.guide.first_name }} {{ traveller_history.guide.last_name }}
                    to
                    <a href="">{{ traveller_history.place.name }}</a>
                    - {{traveller_history.end_date|date:'M d,Y'}}
                  </p>
                  <div class="border-bottom my-5"></div>
                {% endfor %}
                {% else %}
                  <h2 class="mb-5" style="color: #e2c0bb;">No Traveller History</h2>
                  <button class="btn btn-theme-outline px-5 py-3" id="btn-search-des">Search for
                    Destinations...</button>
                  <div class="my-5 border-bottom"></div>
                {% endif %}
              </div>



              <div class="container text-left">

                {% if traveller_reviews %}
                {% for traveller_review in traveller_reviews %}
                <div class="row border py-3 my-3" style="background: white !important;">
                  <div class="col-2 col-lg-1">
                    <img src={{traveller_review.traveller_reviewer.photo_main.url}}
                      style="height: 62px !important; width: 62px !important; border-radius: 50%;" alt="prof_pic">
                  </div>
                  <div class="col-10 col-lg-11">
                    <h5 class="text-muted" style="font-weight: 500; font-size: .8rem;">
                      {{ traveller_review.traveller_reviewer.first_name }} {{ traveller_review.traveller_reviewer.last_name }}</h5>
                    
                    <p class="m-0" style="font-family: Arial, Helvetica, sans-serif;">{{traveller_review.traveller_review}}</p>
                  </div>
                </div>
                {% endfor %}
                {% else %}
                <h2 style="color: #e2c0bb;" class="text-center">No Traveller Reviews</h2>
                <div class="border-bottom w-100 my-5"></div>
                {% endif %}
              </div>



              
            </div>
          </div>
        </div>
        <!-- End of Traveller Collapse -->

      </div>
  </section>


</main>


<!--========================= Modals =====================-->


<!--================= Edit Profile Modal =================-->
<div class="modal fade" id="edit_profile_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Edit Profile
        </h5>
        <button class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <!-- Choose Image Overlay -->
          <!-- Source: https://codepen.io/JohanDelValle/pen/mZwKrx?editors=1100 -->
          <div class=" d-flex justify-content-around">
            <span>
              <label for="profile_pic">
                {% if traveller_user %}
                {% if traveller_user.photo_main %}
                <div id="dp-edit-profile" class="profile-pic" style="background-image: url('{{ traveller_user.photo_main.url }}')">
                  <span class="fa fa-camera"></span>
                  <span>Change Image</span>
                </div>
                {% else %}
                <div>
                  <div id="dp-edit-profile" class="profile-pic">
                    <span class="fa fa-camera"></span>
                    <span>Change Image</span>
                  </div>
                  <!-- <img id="dp-edit-profile" style="width: 150px !important; height: 150px !important;" alt=""> -->
                </div>
                {% endif %}
                {% endif %}
              </label>
              <input type="File" name="photo_main" id="profile_pic" onchange="readURL(this)">
            </span>
          </div>
          <!-- End of Choose Image Overlay -->

          <!--============ Edit Profile Inputs ==================-->
          <div class="form-group">
            <label for="location">First Name</label>
            <input type="text" class="form-control" name="first_name" {% if traveller_user %}
              value="{{traveller_user.first_name}}" {% endif %}>
          </div>
          <div class="form-group">
            <label for="location">Last Name</label>
            <input type="text" class="form-control" name="last_name"
              {% if traveller_user %}value="{{traveller_user.last_name}}" {% endif %}>
          </div>

          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" name="address" {% if traveller_user %}
              value="{{traveller_user.address}}" {% endif %}>
          </div>

          <div class="form-group">
            <label for="slogan">Slogan</label>
            <input type="text" class="form-control" name="slogan" {% if traveller_user %}
              value="{{traveller_user.slogan}}" {% endif %}>
          </div>

          <div class="form-group">
            <label for="about_me">About Me</label>
            <textarea class="form-control" rows="3"
              name="bio">{% if traveller_user %}{{traveller_user.bio}}{% endif %}</textarea>
          </div>

          <div class="form-group">
            <label for="Languages">Languages</label><br>
            <input type="text" class="form-control" name="languages" {% if traveller_user %}
              value="{{traveller_user.languages}}" {% endif %}>
          </div>

          <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" name="gender">
              {% if traveller_user %}
              {% ifnotequal traveller_user.gender "" %}<option selected>{{traveller_user.gender}}</option>
              {% endifnotequal %}

              {% ifequal traveller_user.gender "Male" %}
              <option>Female</option>
              <option>Other</option>
              {% endifequal %}

              {% ifequal traveller_user.gender "Female" %}
              <option>Male</option>
              <option>Other</option>
              {% endifequal %}

              {% ifequal traveller_user.gender "Other" %}
              <option>Female</option>
              <option>Male</option>
              {% endifequal %}

              {% ifequal traveller_user.gender "" %}
              <option>Female</option>
              <option>Male</option>
              <option>Other</option>
              {% endifequal %}
              {% endif %}
            </select>
          </div>

          <div class="form-group">
            <label>Interests</label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Exploration & Sightseeing</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Food & Restaurants</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Driving Tours</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Sports & Recreation</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Art & Museums</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> History & Culture</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Nightlife & Bars</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Shopping</label>
            </div>
          </div>
          <!-- End of Edit Profile Inputs -->


          <div class="modal-footer">
            <input type="submit" value="Save Changes" name="Update Profile" class="btn btn-success">
          </div>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- End of Edit Profile Modal -->

<!--========== Become Guide Form ==============-->
<div class="modal fade" id="guide_form_modal">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Guide-Form Fillup
        </h5>

        <button class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <form action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">

          <div class="form-group mb-4">
            <label for="Document Type">Document Type</label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="docType" id="ctzn" value="ctzn" required>
              <label class="form-check-label" for="ctzn">Citizenship</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="docType" id="license" value="license" required>
              <label class="form-check-label" for="license">Driving License</label>
            </div>
          </div>

          <div class="form-group mb-4">
            <p>Document Front</p>
            <div class="custom-file">
              <input class="custom-file-input" type="File" name="doc-front" id="ctzn-front" required>
              <label class="custom-file-label" for="ctzn-front">Choose file</label>
            </div>
          </div>

          <div class="form-group mb-4">
            <p>Document Back</p>
            <div class="custom-file">
              <input class="custom-file-input" type="File" name="doc-back" id="ctzn-back" required>
              <label class="custom-file-label" for="ctzn-back">Choose file</label>
            </div>
          </div>

          <div class="form-group mb-4">
            <p>Document Number</p>
            <input type="text" class="form-control" name="doc-number" required>
          </div>

        </div>

        <div class="modal-footer">
          <input type="submit" value="Be a Guide" name="Guide-Form" class="btn btn-success">
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<!-- End of Become a Guide Form -->

<!--========== Edit Guide Details ==============-->
<div class="modal fade" id="edit-guide-details">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Edit Guide Details
        </h5>

        <button class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <form action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">

          <div class="form-group mb-4">
            <label for="pph">Price/hr</label><br>
            <input type="number" class="form-control" id="pph" step="100" name="pph" value = "{{g_user.price}}">
          </div>

          <div class="form-group">
            <label for="rep-with">Replies within(hours)</label><br>
            <input type="number" class="form-control" min="6" id="rep-with" name="rep-with" value="{{g_user.replies_within}}">
          </div>

          <div class="form-group md-4">
            <label for="Title">Place you want to guide of</label><br>
            <input class="form-control" list="places" name="place" pattern="{{place_pattern}}" title='enter a valid place' value="{{g_user.get_place}}" required>
            <datalist id="places">
              {% if places %}
              {% for place in places %}
                <option value="{{ place.name }}">
              {% endfor %}
              {% endif%}
            </datalist>
          </div>

        </div>

        <div class="modal-footer">
          <input type="submit" value="save changes" name="Guide-Update-Form" class="btn btn-success">
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<!-- End of Edit Guide Details -->

<!-- End of Become a Guide Form -->

<!--========== Edit Guide Details ==============-->
<div class="modal fade" id="edit-guide-details">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Edit Guide Details
        </h5>

        <button class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">

          <div class="form-group">
            <label for="pph">Price/hr</label><br>
            <input type="number" class="form-control" id="pph" step="200" name="pph">
          </div>

          <div class="form-group">
            <label for="pph">Replies within</label><br>
            <input type="number" class="form-control" min="4" id="rep-with" name="rep-with">
          </div>

          <div class="form-group mb-4">
            <label for="Document Type">Document Type</label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="docType" id="ctzn" value="ctzn" required>
              <label class="form-check-label" for="ctzn">Citizenship</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="docType" id="license" value="license" required>
              <label class="form-check-label" for="license">Driving License</label>
            </div>
          </div>

          <div class="form-group mb-4">
            <p>Document Front</p>
            <div class="custom-file">
              <input class="custom-file-input" type="File" name="doc-front" id="ctzn-front" required>
              <label class="custom-file-label" for="ctzn-front">Choose file</label>
            </div>
          </div>

          <div class="form-group mb-4">
            <p>Document Back</p>
            <div class="custom-file">
              <input class="custom-file-input" type="File" name="doc-back" id="ctzn-back" required>
              <label class="custom-file-label" for="ctzn-back">Choose file</label>
            </div>
          </div>

          <div class="form-group mb-4">
            <p>Document Number</p>
            <input type="text" class="form-control" name="doc-number" required>
          </div>

        </div>

        <div class="modal-footer">
          <input type="submit" value="Be a Guide" name="Guide-Form" class="btn btn-success">
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<!-- End of Edit Guide Details -->

<!-- End of Modals -->

{% endblock %}

{% block script %}
<script>


  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#dp-edit-profile').css('background-image', 'url(' + e.target.result + ')');
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
{% endblock %}