{% extends 'base.html' %}

{% load static %}

{% block title %} 
Dashboard
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/rating.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}

<main>
  <!--=================== Main Dashboard ===================-->
  <section class="section-1">
    <div class="container py-5">
      <!--============ Dashboard Navigation ================-->
      <div class="row no-gutters">
        <div class="col-lg-3 col-md-5">
          {% if traveller_user %}
          {% if traveller_user.photo_main %}
          <img class="profile-pic" style="height: 275px !important; width: 100% !important; cursor: auto;" src="{{ traveller_user.photo_main.url }}"  alt="">
          {% else %}
          <img src="{% static 'images/default.png' %}">
          
          {% endif %}
          {% endif %}
        </div>

        <div class="col-lg-9 col-md-7">

          <div class="d-flex flex-column">
            <div class="px-4 py-2 bg-transparent text-white">
              <div class="d-flex flex-row justify-content-between align-items-center">
                <h4 class="display-5">
                  {% if traveller_user %}
                  {% if traveller_user.slogan %}
                  {{traveller.slogan}}
                  {% else %}
                  <p style="visibility: hidden; margin: 0;">Ready to show you around my city...</p>
                  {% endif %}
                  {% endif %}
                </h4>
              </div>
            </div>

            <div class="bg-custom">
              <div class="container">
                <div class="row p-0" style="margin: 3rem .5rem;">
                  <div class="col-md-6">
                    {% if traveller_user %}
                    {{traveller_user.address}}<br>
                    <h2>{{ traveller_user.first_name }} {{ traveller_user.last_name }} </h2>
                    {% if traveller_user.is_guide %}Replies within: 84 hours{% endif %}
                    {% endif %}
                  </div>
                  {% if traveller_user %}
                  {% if traveller_user.is_guide %}
                  <div class="col-md-6 text-right">
                    <h3><span class="display-5 d-inline text-success">Rs.</span>{{traveller_user.price_per_hour}}/hr</h3>
                  </div>
                  <div>
                    {% if not my_profile %}
                    <form action="{% url 'notifications' %}" method="POST">
                      {% csrf_token %}
                      
                      <input type="hidden" name="traveller_id" value="{{ traveller.id }}">
                      <input type="submit" name="request_guide">
                    </form>
                    <form action="https://uat.esewa.com.np/epay/main" method="POST">
                      <input value="120" name="tAmt" type="hidden">
                      <input value="100" name="amt" type="hidden">
                      <input value="5" name="txAmt" type="hidden">
                      <input value="15" name="psc" type="hidden">
                      <input value="0.00" name="pdc" type="hidden">
                      <input value="epay_payment" name="scd" type="hidden">
                      <input value="1221211211" name="pid" type="hidden">
                      <!-- <input value="{{ traveller_user.id }}{{request.user.id}}" name="pid" type="hidden"> -->
                      <input value="http://merchant.com.np/page/esewa_payment_success?q=su" type="hidden" name="su">
                      <input value="http://merchant.com.np/page/esewa_payment_failed?q=fu" type="hidden" name="fu">
                      <input value="Pay via Esewa" type="submit">
                      </form>
                      {% endif %}
                  </div>
                  {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>        
      
      {% if my_profile %}
      <div>
        <div class="d-flex flex-row text-white align-items-stretch text-center bg-white" id="custom-menu">
          <div class="port-item p-4 mx-md-3 mx-1 bg-white" data-toggle="collapse" data-target="#about_me">
            <i class="fa fa-user fa-2x pr-2"></i>
            <span class="d-none d-md-inline">About Me</span>
          </div>
          <div class="port-item p-4 mx-md-3 mx-1 bg-white" data-toggle="collapse" data-target="#guide">
            <i class="fa fa-id-card fa-2x pr-2"></i>
            <span class="d-none d-md-inline">Guide</span>
          </div>
          <div class="port-item p-4 mx-md-3 mx-1 bg-white" data-toggle="collapse" data-target="#traveller">
            <i class="fa fa-suitcase fa-2x pr-2"></i>
            <span class="d-none d-md-inline">Traveller</span>
          </div>
      </div>
      {% endif %}
      <!--=========== End of Dashboard Navigation ==========-->



      <!--============== About Me Collapse =================-->
      <div id="about_me" class="collapse show">
        <div class="card card-body bg-white px-3 py-5">
          
          <!--========= Edit Profile Section ===============-->
          {% if my_profile %}<h4 class="px-3" style="color: #e2c0bb;">Let People know about you</h4>
          <div>
            <ul class="d-flex p-3" style="list-style: none;">
              <div class="mr-3">
                <li>
                  {% if traveller_user %}
                    {% if traveller_user.address %}
                    <i class="text-success fa fa-check"></i>
                    <small>Add your Location</small>
                    {% else %}
                    <i class="text-danger fa fa-times"></i>
                    <small>Add your Location</small>
                    {% endif %}
                    {% endif %}
                </li>

                <li>
                  {% if traveller_user %}
                  {% if traveller_user.photo_main %}
                  <i class="text-success fa fa-check"></i>
                  <small>Add Profile Picture</small>
                  {% else %}
                  <i class="text-danger fa fa-times"></i>
                  <small>Add Profile Picture</small>
                  {% endif %}
                  {% endif %}

                </li>

                <li>
                  {% if traveller_user %}
                  {% if traveller_user.languages %}
                  <i class="text-success fa fa-check"></i>
                  <small>Add Languages you Speak</small>
                  {% else %}
                  <i class="text-danger fa fa-times"></i>
                  <small>Add Languages you Speak</small>
                  {% endif %}
                  {% endif %}

                </li>
              </div>
              <div>
                <li>
                  <i class="text-danger fa fa-times"></i>
                  <!-- <i class="text-success fa fa-check"></i> -->
                  <small>Add Hobbies</small>
                </li>

                <li>
                  {% if traveller_user %}
                  {% if traveller_user.bio %}
                  <i class="text-success fa fa-check"></i>
                  <small>Add About Yourself</small>
                  {% else %}
                  <i class="text-danger fa fa-times"></i>
                  <small>Add About Yourself</small>
                  {% endif %}
                  {% endif %}

                </li>
              </div>
            </ul>
          </div>
          {% endif %}
          
          <div class="container">
            <div class="row">
              <div class="col-md-10"></div>
              {% if my_profile %}
              <button class="btn btn-theme mb-4 col-md-2 text-light" data-toggle="modal" data-target="#edit_profile_modal">Edit Profile</button>
              {% endif %}
            </div>
          </div>
          <span class="border-bottom"></span><br>
          <!-- End of Edit Profile Section -->

          <!--======= Profile Description Section ==========-->
          <h2 class="px-3" style="color: #e2c0bb;">Hi there! Nice to meet you</h2>
          <p class="p-3 text-justify">
            {% if traveller_user %}{{traveller_user.bio}}{% endif %}
          </p>
          <br>

          <p class="px-3 pb-3 text-justify collapse" id="collapse-btn-1">
            More content lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Dicta explicabo ad pariatur nisi nulla vel numquam officiis laboriosam,
            commodi corrupti nostrum iste voluptatibus quaerat perferendis odit, doloribus amet corporis cumque
            dolores minus asperiores laudantium ut similique aliquam. Perspiciatis repellat mollitia ex ut! Vero
            nostrum nihil ea, eveniet blanditiis voluptas expedita enim nam odio. Nemo autem repudiandae voluptate
            inventore, facilis nihil blanditiis esse nisi, consequatur maxime perspiciatis, deserunt laborum vero est!
            Deserunt facere ad delectus non?
          </p>
          <div class="container">
            <div class="row">
              <div class="col-md-10"></div>
              <button class="btn btn-theme mb-4 col-md-2 text-light" data-toggle="collapse"
                data-target="#collapse-btn-1">Read More</button>
            </div>
          </div>
          <span class="border-bottom"></span>
          <!-- End of Profile Description Section -->

          <!--============= Languages Section ============-->
          <h4 class="px-3 py-3" style="color: #e2c0bb;">Languages</h4>
          <p class="p-3 border-bottom">
            {% if traveller_user %}{{traveller_user.languages}}{% endif %}
          </p>
          <!-- End of Languages Section -->

          <!--============= Interests Section ==============-->
          <h4 class="px-3" style="color: #e2c0bb;">Interests</h4>
          <p class="p-3 border-bottom">Travelling</p>
          <!-- End of Interests Section -->

          <!--======review section======-->
          <h4 class="px-3" style="color: #e2c0bb;">User reviews</h4>
          <p class="p-3 border-bottom"></p>

          {% if my_profile %}
          {% else %}
          <h4 class="px-3" style="color: #e2c0bb;">Review this guide</h4>
            <form action="#" id="carform" method="POST">
            {% csrf_token %}
              <label for="review">Review</label>
              <input type="text" id="fname" name="review">
              <br>
              <label for="rating">Rating</label>
              <select id="rating" name="rating" >
                <option value="1">1 <option>
                <option value="2">2 </option>
                <option value="3">3 </option>
                <option value="4">4 </option>
                <option value="5">5 </option>
            </select>
            <br>
            <input type="submit" name="review_form">
            
            </form>
            
          {% endif %}
          <!-- End of Interests Section -->

        </div>
      </div>
      <!-- End of About Me Collapse -->



      <!--=============== Guide Collapse ===================-->
      <div class="collapse" id="guide">
        <div class="d-flex">
          <div class="card card-body bg-white px-3 py-5 text-center align-items-center">
            <div class="col-md-12 border-bottom mb-5">
              <h2 style="color: #e2c0bb;">Edit Guide Details</h2>
              Edit your price, reply time, document 
              <button class="btn btn-theme mt-2" data-toggle="modal" data-target="#guide_details">Edit Guide Details</button>
              <div class="mb-5"></div>
            </div>

            <div class="col-md-12 border-bottom">
              <h2 style="color: #e2c0bb;">No Guide History</h2>
              {% if guide_user %}
                {% if guide_user.is_published %}
                  <div class="mx-5 px-5"> 
                    <div class="mt-5"></div>
                    <p class="col-12 text-left">
                      You travelled with 
                      <a href="">someone</a> 
                      to 
                      <a href="">somewhere</a>
                      - 2020/9/18
                    </p>
                    <p class="col-12 text-left">
                      You travelled with 
                      <a href="">someone</a> 
                      to 
                      <a href="">somewhere</a>
                      - 2020/9/18
                    </p>
                    <p class="col-12 text-left">
                      You travelled with 
                      <a href="">someone</a> 
                      to 
                      <a href="">somewhere</a>
                      - 2020/9/18
                    </p>
                    <div class="mb-5"></div>
                  </div>
                {% else %}
                  <p class="mt-4"> Your request for becoming a guide is being processed...</p>
                  <p class="pb-3 mb-5">You will be notified soon.</p>
                {% endif %}
              {% else %}  
                <button class="btn btn-theme-outline px-5 py-3 mt-2 mb-5" data-toggle="modal" data-target="#guide_form_modal">Become a Guide</button>
              {% endif %}
            </div>
            <div class="border-bottom py-5">
              <h2 style="color: #e2c0bb;" class="mb-5">No Guide Reviews</h2>


              
              <div class="container text-left">
                <div class="row border py-3 mb-5"  style="background: white !important;">
                  <div class="col-2 col-lg-1 rounded">
                    <img src="https://source.unsplash.com/random/200x200" style="height: 62px !important; width: 62px !important; border-radius: 50%;" alt="prof_pic">
                  </div>
                  <form class="col-10 col-lg-11">
                    <h5 class="text-muted" style="font-weight: 500; font-size: .8rem;">Review this Guide</h5>
                    <textarea class="form-control" rows="3"></textarea>
                    <div class="mt-n4" style="display: flex; justify-content: flex-end;">
                      <div class="rating">
                        <input type="radio" id="star5" name="rating" value="5" />
                        <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
                        <input type="radio" id="star4" name="rating" value="4" />
                        <label class="star" for="star4" title="Great" aria-hidden="true"></label>
                        <input type="radio" id="star3" name="rating" value="3" />
                        <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
                        <input type="radio" id="star2" name="rating" value="2" />
                        <label class="star" for="star2" title="Good" aria-hidden="true"></label>
                        <input type="radio" id="star1" name="rating" value="1" />
                        <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
                      </div>
                    </div>
                    <div style="display: flex; justify-content: flex-end;">
                      <input class="btn btn-danger mt-2" type="submit">
                    </div>
                  </form>
                </div>
          
                <div class="row border py-3 my-3" style="background: white !important;">
                  <div class="col-2 col-lg-1">
                    <img src="https://source.unsplash.com/random/200x200" style="height: 62px !important; width: 62px !important; border-radius: 50%;" alt="prof_pic">
                  </div>
                  <div class="col-10 col-lg-11">
                    <h5 class="text-muted" style="font-weight: 500; font-size: .8rem;">Samesh Bajracharya</h5>
                    <div class="review__rating m-n2">
                      <label class="star mr-n2" aria-hidden="true"></label>
                      <label class="star mr-n2" aria-hidden="true"></label>
                      <label class="star mr-n2" aria-hidden="true"></label>
                      <label class="star mr-n2" aria-hidden="true"></label>
                      <label class="star mr-n2" aria-hidden="true"></label>
                    </div>
                    <p class="m-0" style="font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat incidunt odit, doloremque eveniet cupiditate autem laborum ea praesentium. Reprehenderit, doloribus?</p>
                  </div>
                </div>
                <div class="row border py-3 my-3" style="background: white !important;">
                  <div class="col-2 col-lg-1">
                    <img src="https://source.unsplash.com/random/200x200" style="height: 62px !important; width: 62px !important; border-radius: 50%;" alt="prof_pic">
                  </div>
                  <div class="col-10 col-lg-11">
                    <h5 class="text-muted" style="font-weight: 500; font-size: .8rem;">Samesh Bajracharya</h5>
                    <div class="review__rating m-n2">
                      <label class="star mr-n2" aria-hidden="true"></label>
                      <label class="star mr-n2" aria-hidden="true"></label>
                      <label class="star mr-n2" aria-hidden="true"></label>
                      <label class="star mr-n2" aria-hidden="true"></label>
                    </div>
                    <p class="m-0" style="font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat incidunt odit, doloremque eveniet cupiditate autem laborum ea praesentium. Reprehenderit, doloribus?</p>
                  </div>
                </div>
              </div>  



            </div>
          </div>
        </div>
      </div>
      <!-- End of Guide Collapse -->



      <!--============= Traveller Collapse ================-->
      <div class="collapse" id="traveller">
        <div class="d-flex">
          <div class="card card-body bg-white px-3 py-5 text-center align-items-center">
            <div class="border-bottom">
              <h2 style="color: #e2c0bb;">No Traveller History</h2>
              <button class="btn btn-theme-outline px-5 py-3 mt-2 mb-5" id="btn-search-des">Search for
                Destinations...</button>
            </div>
            <div class="border-bottom py-5">
              <h2 style="color: #e2c0bb;" class="mb-5">No Traveller Reviews</h2>



              <div class="container text-left">
                <div class="row border py-3 mb-5"  style="background: white !important;">
                  <div class="col-2 col-lg-1 rounded">
                    <img src="https://source.unsplash.com/random/200x200" style="height: 62px !important; width: 62px !important; border-radius: 50%;" alt="prof_pic">
                  </div>
                  <form class="col-10 col-lg-11">
                    <h5 class="text-muted" style="font-weight: 500; font-size: .8rem;">Review this Traveller</h5>
                    <textarea class="form-control" rows="3"></textarea>
                    <div style="display: flex; justify-content: flex-end;">
                      <input class="btn btn-danger mt-2" type="submit">
                    </div>
                  </form>
                </div>
          
                <div class="row border py-3 my-3" style="background: white !important;">
                  <div class="col-2 col-lg-1">
                    <img src="https://source.unsplash.com/random/200x200" style="height: 62px !important; width: 62px !important; border-radius: 50%;" alt="prof_pic">
                  </div>
                  <div class="col-10 col-lg-11">
                    <h5 class="text-muted" style="font-weight: 500; font-size: .8rem;">Samesh Bajracharya</h5>
                    <p class="m-0" style="font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat incidunt odit, doloremque eveniet cupiditate autem laborum ea praesentium. Reprehenderit, doloribus?</p>
                  </div>
                </div>
                <div class="row border py-3 my-3" style="background: white !important;">
                  <div class="col-2 col-lg-1">
                    <img src="https://source.unsplash.com/random/200x200" style="height: 62px !important; width: 62px !important; border-radius: 50%;" alt="prof_pic">
                  </div>
                  <div class="col-10 col-lg-11">
                    <h5 class="text-muted" style="font-weight: 500; font-size: .8rem;">Samesh Bajracharya</h5>
                    <p class="m-0" style="font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat incidunt odit, doloremque eveniet cupiditate autem laborum ea praesentium. Reprehenderit, doloribus?</p>
                  </div>
                </div>
              </div>  



            </div>
          </div>
        </div>
      </div>
      <!-- End of Traveller Collapse -->

    </div>
  </section>


</main>


<!--========================= Modals =====================-->


<!--================= Edit Profile Modal =================-->
<div class="modal" id="edit_profile_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Edit Profile
        </h5>
        <button class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

          <!-- Choose Image Overlay -->
          <!-- Source: https://codepen.io/JohanDelValle/pen/mZwKrx?editors=1100 -->
          <div class=" d-flex justify-content-around">
            <span>
              <label for="profile_pic">
                {% if traveller_user %}
                {% if traveller_user.photo_main %}
                <div class="profile-pic" style="background-image: url('{{ traveller.photo_main.url }}')">
                  <span class="fa fa-camera"></span>
                  <span>Change Image</span>
                </div>
                {% else %}
                <div class="profile-pic">
                  <span class="fa fa-camera"></span>
                  <span>Change Image</span>
                </div>
                {% endif %}
                {% endif %}
              </label>
              <input type="File" name="photo_main" id="profile_pic">
            </span>
          </div>
          <!-- End of Choose Image Overlay -->

          <!--============ Edit Profile Inputs ==================-->
          <div class="form-group">
            <label for="location">First Name</label>
            <input type="text" class="form-control" name="first_name"
              {% if traveller_user %} value="{{traveller_user.first_name}}"{% endif %}>
          </div>
          <div class="form-group">
            <label for="location">Last Name</label>
            <input type="text" class="form-control" name="last_name"
              {% if traveller_user %}value="{{traveller_user.last_name}}"{% endif %}>
          </div>

          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" name="address"
              {% if traveller_user %} value="{{traveller_user.address}}"{% endif %}>
          </div>

          <div class="form-group">
            <label for="slogan">Slogan</label>
            <input type="text" class="form-control" name="slogan"
              {% if traveller_user %} value="{{traveller_user.slogan}}"{% endif %}>
          </div>

          <div class="form-group">
            <label for="about_me">About Me</label>
            <textarea class="form-control" rows="3"
              name="bio">{% if traveller_user %}{{traveller_user.bio}}{% endif %}</textarea>
          </div>

          <div class="form-group">
            <label for="Languages">Languages</label><br>
            <input type="text" class="form-control" name="languages"
              {% if traveller_user %} value="{{traveller_user.languages}}"{% endif %}>
          </div>

          {% if traveller_user %}
          {% if traveller_user.is_guide %}
          <div class="form-group">
            <label for="pph">Price/hr</label><br>
            <input type="number" class="form-control" name="pph">
          </div>
          {% endif %}
          {% endif %}

          <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" name="gender">
              {% if traveller_user %}
                  {% ifnotequal traveller_user.gender "" %}<option selected>{{traveller_user.gender}}</option>{% endifnotequal %}

                  {% ifequal traveller_user.gender "Male" %}
                  <option>Female</option>
                  <option>Other</option>
                  {% endifequal %}

                  {% ifequal traveller_user.gender "Female" %}
                  <option>Male</option>
                  <option>Other</option>
                  {% endifequal %}

                  {% ifequal traveller_user.gender "Other" %}
                  <option>Female</option>
                  <option>Male</option>
                  {% endifequal %}

                  {% ifequal traveller_user.gender "" %}
                  <option>Female</option>
                  <option>Male</option>
                  <option>Other</option>
                  {% endifequal %}
              {% endif %}
            </select>
          </div>

          <div class="form-group">
            <label>Interests</label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Exploration & Sightseeing</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Food & Restaurants</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Driving Tours</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Sports & Recreation</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Art & Museums</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> History & Culture</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Nightlife & Bars</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="English" value="option1">
              <label class="form-check-label" for="English"> Shopping</label>
            </div>
          </div>
          <!-- End of Edit Profile Inputs -->


          <div class="modal-footer">
            <input type="submit" value="Save Changes" name="Update Profile" class="btn btn-success">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End of Edit Profile Modal -->

<!--====guide form====-->
<div class="modal" id="guide_form_modal">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Guide-Form Fillup
        </h5>
        
        <button class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <form action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">

          <div class="form-group mb-4">
            <label for="Document Type">Document Type</label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="docType" id="ctzn"  value="ctzn" required>
              <label class="form-check-label" for="ctzn">Citizenship</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="docType" id="license"  value="license" required>
              <label class="form-check-label" for="license">Driving License</label>
            </div>
          </div>

          <div class="form-group mb-4">
            <p>Document Front</p>
            <div class="custom-file">
              <input class="custom-file-input" type="File" name="doc-front" id="ctzn-front" required>
              <label class="custom-file-label" for="ctzn-front">Choose file</label>
            </div>
          </div>

          <div class="form-group mb-4">
            <p>Document Back</p>
            <div class="custom-file">
              <input class="custom-file-input" type="File" name="doc-back" id="ctzn-back" required>
              <label class="custom-file-label" for="ctzn-back">Choose file</label>
            </div>
          </div>

          <div class="form-group mb-4">
            <p>Document Number</p>
            <input type="text" class="form-control" name="doc-number" required>
          </div>  
            
        </div>
        
        <div class="modal-footer">
          <input type="submit" value="Be a Guide" name="Guide-Form" class="btn btn-success">
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<!-- End of Modals -->

{% endblock %}