{% extends 'base.html' %}

{% load static %}

{% block style %}
<style>
    ::-webkit-input-placeholder {
        color: #fff !important;
        font-size: 1rem !important;
    }

    ::-moz-placeholder {
        color: #fff !important;
        font-size: 1rem !important;

    }

    ::-ms-input-placeholder {
        color: #fff !important;
        font-size: 1rem !important;

    }

    ::-moz-placeholder {
        color: #fff !important;
        font-size: 1rem !important;

    }

    figure {
        overflow: hidden;
    }

    img {
        -webkit-transition: .4s ease-in-out;
        transition: .4s ease-in-out;
    }

    img:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    .places {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    @media (min-width: 768px) {
    .places {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    }

    @media (min-width: 1200px) {
    .places {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    }
</style>
{% endblock %}

{% block title %}
Places
{% endblock %}

{% block content %}
<div class="container bg-light my-5 px-3 px-md-5 py-5" id="places-container">
    <div class="row justify-content-center pb-3 mt-4 mb-5">
        <div class="col-md-12 heading-section text-center ">
            <h5 class="d-none d-md-block" style="font-family: Poppins; color: #e19f95;">EXPLORE LOCAL PLACES</h5>
            <h5 class="d-block d-md-none" style="font-family: Poppins; font-size: 1.2rem; color: #e19f95;">EXPLORE LOCAL PLACES</h5>
            <h4 class="d-none d-md-block" style="font-family: Poppins;">Best Places to Travel in the Country.</h4>
            <h5 class="d-block d-md-none" style="font-family: Poppins; font-size: 1rem;">Best Places to Travel in the Country.</h5>
        </div>
    </div>
    <div class="row justify-content-center">
        {% if places %}
        <div class="places">
            {% for place in places %}
            <div class="mx-2 mb-2 border">
                <figure>
                <a href="{% url 'placedetails' place.id %}">
                    <img src="{{ place.photo_1.url }}" class="img-fluid" id="" alt="place" style="height:320px; width: 320px;">
                </a>
                </figure>
                <h5 class="p-3">
                    <a class="text-dark" href="{% url 'placedetails' place.id %}">{{ place.name }}</a>
                </h5>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="border w-100 p-3">
            <p> Sorry, the search results couldn't be found. Try again with specific keywords</p>
            <a href="{% url 'index' %}"><u>Back to Home </u></a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}